<link rel="stylesheet" type="text/css" href="./stylesheet.css">

<h1>DTG Foosball Rankings</h1>

<h2>About</h2>
<p><a href="https://en.wikipedia.org/wiki/Elo_rating_system">Elo</a> is a well-used ranking system.
It was designed by Arpad Elo for chess rankings, but is now used in many sports, including the foosball
association Bonzani USA.</p>
<p>This ranking system is based on Bonzani's <a href="http://www.bonziniusa.com/foosball/tournament/TournamentRankingSystem.html">adaptation</a>
for foosball. The elo for a team is the mean of the players' scores. </p>

<h2> Singles and Doubles Restricted Rankings (≥10 games)</h2>
<h4> Last updated  2015-10-06 </h4>
<table cellpadding="10">
<tr><th>Rank</th>
<th>Name</th>
<th>Elo</th>
<th>Wins</th>
<th>Losses</th>
<th>Win Percentage</th>
</tr>
<tr>
<td> 1 </td>
<td> Jon </td>
<td> 1588 </td>
<td> 193 </td>
<td> 135 </td>
<td> 59 % </td>
</tr>
<tr>
<td> 2 </td>
<td> Big Turbo (Brandon) </td>
<td> 1562 </td>
<td> 120 </td>
<td> 75 </td>
<td> 62 % </td>
</tr>
<tr>
<td> 3 </td>
<td> The Bus (Ed) </td>
<td> 1430 </td>
<td> 50 </td>
<td> 34 </td>
<td> 60 % </td>
</tr>
<tr>
<td> 4 </td>
<td> Chuck </td>
<td> 1226 </td>
<td> 16 </td>
<td> 6 </td>
<td> 73 % </td>
</tr>
<tr>
<td> 5 </td>
<td> Hammer (Margot) </td>
<td> 1118 </td>
<td> 26 </td>
<td> 23 </td>
<td> 53 % </td>
</tr>
<tr>
<td> 6 </td>
<td> Todd </td>
<td> 1089 </td>
<td> 7 </td>
<td> 3 </td>
<td> 70 % </td>
</tr>
<tr>
<td> 7 </td>
<td> Chris </td>
<td> 1056 </td>
<td> 97 </td>
<td> 102 </td>
<td> 49 % </td>
</tr>
<tr>
<td> 8 </td>
<td> Jack </td>
<td> 1002 </td>
<td> 20 </td>
<td> 23 </td>
<td> 47 % </td>
</tr>
<tr>
<td> 9 </td>
<td> Dan </td>
<td> 953 </td>
<td> 6 </td>
<td> 6 </td>
<td> 50 % </td>
</tr>
<tr>
<td> 10 </td>
<td> Michelle </td>
<td> 924 </td>
<td> 7 </td>
<td> 7 </td>
<td> 50 % </td>
</tr>
<tr>
<td> 11 </td>
<td> Julian </td>
<td> 921 </td>
<td> 13 </td>
<td> 18 </td>
<td> 42 % </td>
</tr>
<tr>
<td> 12 </td>
<td> Paul </td>
<td> 900 </td>
<td> 10 </td>
<td> 15 </td>
<td> 40 % </td>
</tr>
<tr>
<td> 13 </td>
<td> Nik </td>
<td> 879 </td>
<td> 44 </td>
<td> 70 </td>
<td> 39 % </td>
</tr>
<tr>
<td> 14 </td>
<td> Robert </td>
<td> 628 </td>
<td> 27 </td>
<td> 64 </td>
<td> 30 % </td>
</tr>
<tr>
<td> 15 </td>
<td> Paco </td>
<td> 280 </td>
<td> 8 </td>
<td> 43 </td>
<td> 16 % </td>
</tr>
</table>



<h2> Singles Restricted Rankings (≥10 games)</h2>
<h4> Last updated  2015-10-06 </h4>
<table cellpadding="10">
<tr><th>Rank</th>
<th>Name</th>
<th>Elo</th>
<th>Wins</th>
<th>Losses</th>
<th>Win Percentage</th>
</tr>
<tr>
<td> 1 </td>
<td> Big Turbo (Brandon) </td>
<td> 1478 </td>
<td> 62 </td>
<td> 29 </td>
<td> 68 % </td>
</tr>
<tr>
<td> 2 </td>
<td> Jon </td>
<td> 1350 </td>
<td> 105 </td>
<td> 75 </td>
<td> 58 % </td>
</tr>
<tr>
<td> 3 </td>
<td> The Bus (Ed) </td>
<td> 1284 </td>
<td> 29 </td>
<td> 18 </td>
<td> 62 % </td>
</tr>
<tr>
<td> 4 </td>
<td> Chris </td>
<td> 1066 </td>
<td> 52 </td>
<td> 55 </td>
<td> 49 % </td>
</tr>
<tr>
<td> 5 </td>
<td> Jack </td>
<td> 1060 </td>
<td> 18 </td>
<td> 16 </td>
<td> 53 % </td>
</tr>
<tr>
<td> 6 </td>
<td> Dan </td>
<td> 992 </td>
<td> 6 </td>
<td> 5 </td>
<td> 55 % </td>
</tr>
<tr>
<td> 7 </td>
<td> Hammer (Margot) </td>
<td> 904 </td>
<td> 4 </td>
<td> 9 </td>
<td> 31 % </td>
</tr>
<tr>
<td> 8 </td>
<td> Nik </td>
<td> 782 </td>
<td> 17 </td>
<td> 42 </td>
<td> 29 % </td>
</tr>
<tr>
<td> 9 </td>
<td> Robert </td>
<td> 704 </td>
<td> 4 </td>
<td> 22 </td>
<td> 15 % </td>
</tr>
<tr>
<td> 10 </td>
<td> Paco </td>
<td> 638 </td>
<td> 0 </td>
<td> 16 </td>
<td> 0 % </td>
</tr>
</table>



<h2> Doubles Restricted Rankings (≥10 games)</h2>
<h4> Last updated  2015-10-06 </h4>
<table cellpadding="10">
<tr><th>Rank</th>
<th>Name</th>
<th>Elo</th>
<th>Wins</th>
<th>Losses</th>
<th>Win Percentage</th>
</tr>
<tr>
<td> 1 </td>
<td> Jon </td>
<td> 1448 </td>
<td> 88 </td>
<td> 60 </td>
<td> 59 % </td>
</tr>
<tr>
<td> 2 </td>
<td> Big Turbo (Brandon) </td>
<td> 1221 </td>
<td> 58 </td>
<td> 46 </td>
<td> 56 % </td>
</tr>
<tr>
<td> 3 </td>
<td> The Bus (Ed) </td>
<td> 1202 </td>
<td> 21 </td>
<td> 16 </td>
<td> 57 % </td>
</tr>
<tr>
<td> 4 </td>
<td> Hammer (Margot) </td>
<td> 1184 </td>
<td> 22 </td>
<td> 14 </td>
<td> 61 % </td>
</tr>
<tr>
<td> 5 </td>
<td> Chuck </td>
<td> 1118 </td>
<td> 11 </td>
<td> 6 </td>
<td> 65 % </td>
</tr>
<tr>
<td> 6 </td>
<td> Nik </td>
<td> 1004 </td>
<td> 27 </td>
<td> 28 </td>
<td> 49 % </td>
</tr>
<tr>
<td> 7 </td>
<td> Chris </td>
<td> 985 </td>
<td> 45 </td>
<td> 47 </td>
<td> 49 % </td>
</tr>
<tr>
<td> 8 </td>
<td> Michelle </td>
<td> 948 </td>
<td> 6 </td>
<td> 6 </td>
<td> 50 % </td>
</tr>
<tr>
<td> 9 </td>
<td> Julian </td>
<td> 943 </td>
<td> 10 </td>
<td> 13 </td>
<td> 43 % </td>
</tr>
<tr>
<td> 10 </td>
<td> Paul </td>
<td> 933 </td>
<td> 10 </td>
<td> 13 </td>
<td> 43 % </td>
</tr>
<tr>
<td> 11 </td>
<td> Robert </td>
<td> 724 </td>
<td> 23 </td>
<td> 42 </td>
<td> 35 % </td>
</tr>
<tr>
<td> 12 </td>
<td> Paco </td>
<td> 554 </td>
<td> 8 </td>
<td> 27 </td>
<td> 23 % </td>
</tr>
</table>



<h2>Nemesis Table</h2>
<table cellpadding="10">
<tr><th>Person</th>
<th>Nemesis (singles)</th>
<th>Nemesis (doubles)</th>
<th>Nemesis (combined)</th>
<th>Patsy (singles)</th>
<th>Patsy (doubles)</th>
<th>Patsy (combined)</th>
</tr>
<tr>
<td> Jon </td>
<td> Big Turbo (Brandon) -309 </td>
<td> The Bus (Ed) -87 </td>
<td> Big Turbo (Brandon) -292 </td>
<td> Nik 436 </td>
<td> Robert 182 </td>
<td> Nik 403 </td>
</tr>
<tr>
<td> Big Turbo (Brandon) </td>
<td> The Bus (Ed) -73 </td>
<td> Todd -29 </td>
<td> Chuck -22 </td>
<td> Jon 309 </td>
<td> Paco 71 </td>
<td> Jon 312 </td>
</tr>
<tr>
<td> The Bus (Ed) </td>
<td> None</td>
<td> Big Turbo (Brandon) -17 </td>
<td> None</td>
<td> Jon 92 </td>
<td> Jon 97 </td>
<td> Jon 184 </td>
</tr>
<tr>
<td> Chuck </td>
<td> None</td>
<td> Paul -13 </td>
<td> Paul -13 </td>
<td> Jon 54 </td>
<td> Jon 40 </td>
<td> Jon 89 </td>
</tr>
<tr>
<td> Hammer (Margot) </td>
<td> Jon -71 </td>
<td> Chuck -26 </td>
<td> Jon -82 </td>
<td> Michelle 28 </td>
<td> Robert 43 </td>
<td> Robert 43 </td>
</tr>
<tr>
<td> Chris </td>
<td> Big Turbo (Brandon) -108 </td>
<td> The Bus (Ed) -36 </td>
<td> The Bus (Ed) -104 </td>
<td> Jon 141 </td>
<td> Paco 48 </td>
<td> Jon 148 </td>
</tr>
<tr>
<td> Jack </td>
<td> Jon -122 </td>
<td> Jon -46 </td>
<td> Jon -134 </td>
<td> David 92 </td>
<td> Nik 20 </td>
<td> David 102 </td>
</tr>
<tr>
<td> Dan </td>
<td> Jack -7 </td>
<td> Jon -13 </td>
<td> Jack -21 </td>
<td> None</td>
<td> None</td>
<td> None</td>
</tr>
<tr>
<td> Michelle </td>
<td> Hammer (Margot) -28 </td>
<td> Jon -51 </td>
<td> Jon -60 </td>
<td> Nik 19 </td>
<td> Paco 26 </td>
<td> Paco 18 </td>
</tr>
<tr>
<td> Julian </td>
<td> Chris -22 </td>
<td> The Bus (Ed) -43 </td>
<td> The Bus (Ed) -48 </td>
<td> Paco 25 </td>
<td> Chris 46 </td>
<td> Paco 26 </td>
</tr>
<tr>
<td> Paul </td>
<td> Chris -25 </td>
<td> Jon -64 </td>
<td> Jon -66 </td>
<td> None</td>
<td> Jack 25 </td>
<td> Jack 25 </td>
</tr>
<tr>
<td> Nik </td>
<td> Jon -436 </td>
<td> Jon -79 </td>
<td> Jon -393 </td>
<td> Paco 161 </td>
<td> Robert 71 </td>
<td> Paco 176 </td>
</tr>
<tr>
<td> Robert </td>
<td> Jon -192 </td>
<td> Jon -235 </td>
<td> Jon -329 </td>
<td> Paco 51 </td>
<td> Paco 56 </td>
<td> Paco 106 </td>
</tr>
<tr>
<td> Paco </td>
<td> Nik -161 </td>
<td> Jon -121 </td>
<td> Jon -202 </td>
<td> None</td>
<td> Julian 8 </td>
<td> None</td>
</tr>
</table>



<h2>Singles and Doubles Rankings </h2>
<table cellpadding="10">
<tr><th>Rank</th>
<th>Name</th>
<th>Elo</th>
<th>Wins</th>
<th>Losses</th>
<th>Win Percentage</th>
</tr>
<tr>
<td> 1 </td>
<td> Jon </td>
<td> 1588 </td>
<td> 193 </td>
<td> 135 </td>
<td> 59 % </td>
</tr>
<tr>
<td> 2 </td>
<td> Big Turbo (Brandon) </td>
<td> 1562 </td>
<td> 120 </td>
<td> 75 </td>
<td> 62 % </td>
</tr>
<tr>
<td> 3 </td>
<td> The Bus (Ed) </td>
<td> 1430 </td>
<td> 50 </td>
<td> 34 </td>
<td> 60 % </td>
</tr>
<tr>
<td> 4 </td>
<td> Chuck </td>
<td> 1226 </td>
<td> 16 </td>
<td> 6 </td>
<td> 73 % </td>
</tr>
<tr>
<td> 5 </td>
<td> Hammer (Margot) </td>
<td> 1118 </td>
<td> 26 </td>
<td> 23 </td>
<td> 53 % </td>
</tr>
<tr>
<td> 6 </td>
<td> Todd </td>
<td> 1089 </td>
<td> 7 </td>
<td> 3 </td>
<td> 70 % </td>
</tr>
<tr>
<td> 7 </td>
<td> Chris </td>
<td> 1056 </td>
<td> 97 </td>
<td> 102 </td>
<td> 49 % </td>
</tr>
<tr>
<td> 8 </td>
<td> Ei </td>
<td> 1032 </td>
<td> 5 </td>
<td> 3 </td>
<td> 62 % </td>
</tr>
<tr>
<td> 9 </td>
<td> Bar </td>
<td> 1026 </td>
<td> 1 </td>
<td> 0 </td>
<td> 100 % </td>
</tr>
<tr>
<td> 10 </td>
<td> Jack </td>
<td> 1002 </td>
<td> 20 </td>
<td> 23 </td>
<td> 47 % </td>
</tr>
<tr>
<td> 11 </td>
<td> Linnea </td>
<td> 994 </td>
<td> 1 </td>
<td> 1 </td>
<td> 50 % </td>
</tr>
<tr>
<td> 12 </td>
<td> Andy </td>
<td> 988 </td>
<td> 1 </td>
<td> 1 </td>
<td> 50 % </td>
</tr>
<tr>
<td> 13 </td>
<td> Sam </td>
<td> 981 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 14 </td>
<td> BV </td>
<td> 977 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 15 </td>
<td> Kyle </td>
<td> 976 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 16 </td>
<td> Frank </td>
<td> 974 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 17 </td>
<td> Trevor </td>
<td> 972 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 18 </td>
<td> Ruth </td>
<td> 970 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 19 </td>
<td> Sara </td>
<td> 970 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 20 </td>
<td> Brendan </td>
<td> 967 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 21 </td>
<td> Asahel </td>
<td> 962 </td>
<td> 1 </td>
<td> 2 </td>
<td> 33 % </td>
</tr>
<tr>
<td> 22 </td>
<td> Dan </td>
<td> 953 </td>
<td> 6 </td>
<td> 6 </td>
<td> 50 % </td>
</tr>
<tr>
<td> 23 </td>
<td> Kaiguy </td>
<td> 946 </td>
<td> 0 </td>
<td> 2 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 24 </td>
<td> Kibro </td>
<td> 939 </td>
<td> 1 </td>
<td> 3 </td>
<td> 25 % </td>
</tr>
<tr>
<td> 25 </td>
<td> Michelle </td>
<td> 924 </td>
<td> 7 </td>
<td> 7 </td>
<td> 50 % </td>
</tr>
<tr>
<td> 26 </td>
<td> Julian </td>
<td> 921 </td>
<td> 13 </td>
<td> 18 </td>
<td> 42 % </td>
</tr>
<tr>
<td> 27 </td>
<td> Paul </td>
<td> 900 </td>
<td> 10 </td>
<td> 15 </td>
<td> 40 % </td>
</tr>
<tr>
<td> 28 </td>
<td> David </td>
<td> 897 </td>
<td> 0 </td>
<td> 4 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 29 </td>
<td> Nik </td>
<td> 879 </td>
<td> 44 </td>
<td> 70 </td>
<td> 39 % </td>
</tr>
<tr>
<td> 30 </td>
<td> Marco </td>
<td> 857 </td>
<td> 0 </td>
<td> 6 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 31 </td>
<td> Robert </td>
<td> 628 </td>
<td> 27 </td>
<td> 64 </td>
<td> 30 % </td>
</tr>
<tr>
<td> 32 </td>
<td> Paco </td>
<td> 280 </td>
<td> 8 </td>
<td> 43 </td>
<td> 16 % </td>
</tr>
</table>



<h2>Singles Rankings </h2>
<table cellpadding="10">
<tr><th>Rank</th>
<th>Name</th>
<th>Elo</th>
<th>Wins</th>
<th>Losses</th>
<th>Win Percentage</th>
</tr>
<tr>
<td> 1 </td>
<td> Big Turbo (Brandon) </td>
<td> 1478 </td>
<td> 62 </td>
<td> 29 </td>
<td> 68 % </td>
</tr>
<tr>
<td> 2 </td>
<td> Jon </td>
<td> 1350 </td>
<td> 105 </td>
<td> 75 </td>
<td> 58 % </td>
</tr>
<tr>
<td> 3 </td>
<td> The Bus (Ed) </td>
<td> 1284 </td>
<td> 29 </td>
<td> 18 </td>
<td> 62 % </td>
</tr>
<tr>
<td> 4 </td>
<td> Chuck </td>
<td> 1122 </td>
<td> 5 </td>
<td> 0 </td>
<td> 100 % </td>
</tr>
<tr>
<td> 5 </td>
<td> Chris </td>
<td> 1066 </td>
<td> 52 </td>
<td> 55 </td>
<td> 49 % </td>
</tr>
<tr>
<td> 6 </td>
<td> Jack </td>
<td> 1060 </td>
<td> 18 </td>
<td> 16 </td>
<td> 53 % </td>
</tr>
<tr>
<td> 7 </td>
<td> Todd </td>
<td> 1022 </td>
<td> 3 </td>
<td> 2 </td>
<td> 60 % </td>
</tr>
<tr>
<td> 8 </td>
<td> Ei </td>
<td> 1016 </td>
<td> 2 </td>
<td> 1 </td>
<td> 67 % </td>
</tr>
<tr>
<td> 9 </td>
<td> Dan </td>
<td> 992 </td>
<td> 6 </td>
<td> 5 </td>
<td> 55 % </td>
</tr>
<tr>
<td> 10 </td>
<td> Michelle </td>
<td> 990 </td>
<td> 1 </td>
<td> 1 </td>
<td> 50 % </td>
</tr>
<tr>
<td> 11 </td>
<td> Sam </td>
<td> 977 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 12 </td>
<td> Kyle </td>
<td> 974 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 13 </td>
<td> Julian </td>
<td> 972 </td>
<td> 3 </td>
<td> 5 </td>
<td> 38 % </td>
</tr>
<tr>
<td> 14 </td>
<td> Brendan </td>
<td> 967 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 15 </td>
<td> Paul </td>
<td> 955 </td>
<td> 0 </td>
<td> 2 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 16 </td>
<td> Kaiguy </td>
<td> 950 </td>
<td> 0 </td>
<td> 2 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 17 </td>
<td> Kibro </td>
<td> 946 </td>
<td> 1 </td>
<td> 3 </td>
<td> 25 % </td>
</tr>
<tr>
<td> 18 </td>
<td> Asahel </td>
<td> 933 </td>
<td> 0 </td>
<td> 2 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 19 </td>
<td> David </td>
<td> 907 </td>
<td> 0 </td>
<td> 4 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 20 </td>
<td> Hammer (Margot) </td>
<td> 904 </td>
<td> 4 </td>
<td> 9 </td>
<td> 31 % </td>
</tr>
<tr>
<td> 21 </td>
<td> Nik </td>
<td> 782 </td>
<td> 17 </td>
<td> 42 </td>
<td> 29 % </td>
</tr>
<tr>
<td> 22 </td>
<td> Robert </td>
<td> 704 </td>
<td> 4 </td>
<td> 22 </td>
<td> 15 % </td>
</tr>
<tr>
<td> 23 </td>
<td> Paco </td>
<td> 638 </td>
<td> 0 </td>
<td> 16 </td>
<td> 0 % </td>
</tr>
</table>



<h2>Doubles Rankings </h2>
<table cellpadding="10">
<tr><th>Rank</th>
<th>Name</th>
<th>Elo</th>
<th>Wins</th>
<th>Losses</th>
<th>Win Percentage</th>
</tr>
<tr>
<td> 1 </td>
<td> Jon </td>
<td> 1448 </td>
<td> 88 </td>
<td> 60 </td>
<td> 59 % </td>
</tr>
<tr>
<td> 2 </td>
<td> Big Turbo (Brandon) </td>
<td> 1221 </td>
<td> 58 </td>
<td> 46 </td>
<td> 56 % </td>
</tr>
<tr>
<td> 3 </td>
<td> The Bus (Ed) </td>
<td> 1202 </td>
<td> 21 </td>
<td> 16 </td>
<td> 57 % </td>
</tr>
<tr>
<td> 4 </td>
<td> Hammer (Margot) </td>
<td> 1184 </td>
<td> 22 </td>
<td> 14 </td>
<td> 61 % </td>
</tr>
<tr>
<td> 5 </td>
<td> Chuck </td>
<td> 1118 </td>
<td> 11 </td>
<td> 6 </td>
<td> 65 % </td>
</tr>
<tr>
<td> 6 </td>
<td> Todd </td>
<td> 1080 </td>
<td> 4 </td>
<td> 1 </td>
<td> 80 % </td>
</tr>
<tr>
<td> 7 </td>
<td> Bar </td>
<td> 1027 </td>
<td> 1 </td>
<td> 0 </td>
<td> 100 % </td>
</tr>
<tr>
<td> 8 </td>
<td> Asahel </td>
<td> 1026 </td>
<td> 1 </td>
<td> 0 </td>
<td> 100 % </td>
</tr>
<tr>
<td> 9 </td>
<td> Ei </td>
<td> 1024 </td>
<td> 3 </td>
<td> 2 </td>
<td> 60 % </td>
</tr>
<tr>
<td> 10 </td>
<td> Nik </td>
<td> 1004 </td>
<td> 27 </td>
<td> 28 </td>
<td> 49 % </td>
</tr>
<tr>
<td> 11 </td>
<td> Linnea </td>
<td> 998 </td>
<td> 1 </td>
<td> 1 </td>
<td> 50 % </td>
</tr>
<tr>
<td> 12 </td>
<td> Andy </td>
<td> 992 </td>
<td> 1 </td>
<td> 1 </td>
<td> 50 % </td>
</tr>
<tr>
<td> 13 </td>
<td> Chris </td>
<td> 985 </td>
<td> 45 </td>
<td> 47 </td>
<td> 49 % </td>
</tr>
<tr>
<td> 14 </td>
<td> BV </td>
<td> 978 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 15 </td>
<td> Frank </td>
<td> 976 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 16 </td>
<td> Dan </td>
<td> 975 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 17 </td>
<td> Trevor </td>
<td> 973 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 18 </td>
<td> Ruth </td>
<td> 973 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 19 </td>
<td> Sara </td>
<td> 973 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 20 </td>
<td> Michelle </td>
<td> 948 </td>
<td> 6 </td>
<td> 6 </td>
<td> 50 % </td>
</tr>
<tr>
<td> 21 </td>
<td> Julian </td>
<td> 943 </td>
<td> 10 </td>
<td> 13 </td>
<td> 43 % </td>
</tr>
<tr>
<td> 22 </td>
<td> Paul </td>
<td> 933 </td>
<td> 10 </td>
<td> 13 </td>
<td> 43 % </td>
</tr>
<tr>
<td> 23 </td>
<td> Jack </td>
<td> 867 </td>
<td> 2 </td>
<td> 7 </td>
<td> 22 % </td>
</tr>
<tr>
<td> 24 </td>
<td> Marco </td>
<td> 862 </td>
<td> 0 </td>
<td> 6 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 25 </td>
<td> Robert </td>
<td> 724 </td>
<td> 23 </td>
<td> 42 </td>
<td> 35 % </td>
</tr>
<tr>
<td> 26 </td>
<td> Paco </td>
<td> 554 </td>
<td> 8 </td>
<td> 27 </td>
<td> 23 % </td>
</tr>
</table>



<h2>Raw Data</h2>
<table cellpadding="10">
<tr><th>Date</th>
<th>Team 1</th>
<th>Team 2</th>
<th>Winning Team</th>
</tr>
<tr>
<td> 06-10-2015 </td>
<td> Jon </td>
<td> Jack </td>
<td> Jon </td>
</tr>
<tr>
<td> 06-10-2015 </td>
<td> Jon </td>
<td> Jack </td>
<td> Jon </td>
</tr>
<tr>
<td> 06-10-2015 </td>
<td> Jon and Robert </td>
<td> Chris and Michelle </td>
<td> Jon and Robert </td>
</tr>
<tr>
<td> 06-10-2015 </td>
<td> Jon and Robert </td>
<td> Chris and Michelle </td>
<td> Jon and Robert </td>
</tr>
<tr>
<td> 06-10-2015 </td>
<td> Nik and Chris </td>
<td> Jon and Paco </td>
<td> Nik and Chris </td>
</tr>
<tr>
<td> 02-10-2015 </td>
<td> David </td>
<td> Jack </td>
<td> Jack </td>
</tr>
<tr>
<td> 02-10-2015 </td>
<td> Kibro </td>
<td> Jack </td>
<td> Jack </td>
</tr>
<tr>
<td> 02-10-2015 </td>
<td> Nik </td>
<td> Jack </td>
<td> Nik </td>
</tr>
<tr>
<td> 02-10-2015 </td>
<td> Jon and Michelle </td>
<td> Nik and Chris </td>
<td> Jon and Michelle </td>
</tr>
<tr>
<td> 02-10-2015 </td>
<td> Jon and Michelle </td>
<td> Nik and Chris </td>
<td> Jon and Michelle </td>
</tr>
<tr>
<td> 02-10-2015 </td>
<td> Jon and Paco </td>
<td> Nik and Robert </td>
<td> Nik and Robert </td>
</tr>
<tr>
<td> 01-10-2015 </td>
<td> Jon and Robert </td>
<td> Chris and Nik </td>
<td> Jon and Robert </td>
</tr>
<tr>
<td> 01-10-2015 </td>
<td> Chris and BV </td>
<td> Nik and Jon </td>
<td> Nik and Jon </td>
</tr>
<tr>
<td> 01-10-2015 </td>
<td> Jon and Nik </td>
<td> Robert and Chris </td>
<td> Jon and Nik </td>
</tr>
<tr>
<td> 01-10-2015 </td>
<td> Chris and Nik </td>
<td> Jon and Paco </td>
<td> Chris and Nik </td>
</tr>
<tr>
<td> 01-10-2015 </td>
<td> Big Turbo (Brandon) and Nik </td>
<td> Jon and Paco </td>
<td> Big Turbo (Brandon) and Nik </td>
</tr>
<tr>
<td> 30-10-2015 </td>
<td> Jon </td>
<td> Nik </td>
<td> Jon </td>
</tr>
<tr>
<td> 30-10-2015 </td>
<td> Chris and Michelle </td>
<td> Paco and Nik </td>
<td> Chris and Michelle </td>
</tr>
<tr>
<td> 30-10-2015 </td>
<td> Jon and Michelle </td>
<td> Big Turbo (Brandon) and Chris </td>
<td> Big Turbo (Brandon) and Chris </td>
</tr>
<tr>
<td> 30-10-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 30-10-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 30-10-2015 </td>
<td> Robert and Jon </td>
<td> Chris and Paco </td>
<td> Robert and Jon </td>
</tr>
<tr>
<td> 30-10-2015 </td>
<td> Robert </td>
<td> Paco </td>
<td> Robert </td>
</tr>
<tr>
<td> 29-10-2015 </td>
<td> Jon </td>
<td> Nik </td>
<td> Jon </td>
</tr>
<tr>
<td> 29-10-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 29-10-2015 </td>
<td> Jon and Nik </td>
<td> Big Turbo (Brandon) and Paco </td>
<td> Jon and Nik </td>
</tr>
<tr>
<td> 29-10-2015 </td>
<td> Jon and Michelle </td>
<td> Big Turbo (Brandon) and Paco </td>
<td> Jon and Michelle </td>
</tr>
<tr>
<td> 29-10-2015 </td>
<td> Nik </td>
<td> Robert </td>
<td> Nik </td>
</tr>
<tr>
<td> 28-10-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Chris </td>
</tr>
<tr>
<td> 28-10-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 28-10-2015 </td>
<td> Nik </td>
<td> Brendan </td>
<td> Nik </td>
</tr>
<tr>
<td> 28-10-2015 </td>
<td> Nik </td>
<td> Jack </td>
<td> Jack </td>
</tr>
<tr>
<td> 28-10-2015 </td>
<td> Nik </td>
<td> Jack </td>
<td> Jack </td>
</tr>
<tr>
<td> 28-10-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 26-09-2015 </td>
<td> Jon and Nik </td>
<td> Robert and Chris </td>
<td> Jon and Nik </td>
</tr>
<tr>
<td> 26-09-2015 </td>
<td> Jon and Michelle </td>
<td> Robert and Nik </td>
<td> Jon and Michelle </td>
</tr>
<tr>
<td> 26-09-2015 </td>
<td> Nik and Robert </td>
<td> Jon and Paco </td>
<td> Jon and Paco </td>
</tr>
<tr>
<td> 26-09-2015 </td>
<td> Nik </td>
<td> Paco </td>
<td> Nik </td>
</tr>
<tr>
<td> 26-09-2015 </td>
<td> Nik and Robert </td>
<td> Jon and Paco </td>
<td> Jon and Paco </td>
</tr>
<tr>
<td> 26-09-2015 </td>
<td> Nik </td>
<td> Robert </td>
<td> Robert </td>
</tr>
<tr>
<td> 25-09-2015 </td>
<td> Nik </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 25-09-2015 </td>
<td> Nik </td>
<td> Paco </td>
<td> Nik </td>
</tr>
<tr>
<td> 25-09-2015 </td>
<td> Jon </td>
<td> Robert </td>
<td> Jon </td>
</tr>
<tr>
<td> 25-09-2015 </td>
<td> Paco </td>
<td> Robert </td>
<td> Robert </td>
</tr>
<tr>
<td> 25-09-2015 </td>
<td> Nik and Jon </td>
<td> Robert and Paco </td>
<td> Nik and Jon </td>
</tr>
<tr>
<td> 25-09-2015 </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 24-09-2015 </td>
<td> Robert and Nik </td>
<td> Michelle and Paco </td>
<td> Robert and Nik </td>
</tr>
<tr>
<td> 24-09-2015 </td>
<td> Jon and Robert </td>
<td> Michelle and Big Turbo (Brandon) </td>
<td> Jon and Robert </td>
</tr>
<tr>
<td> 24-09-2015 </td>
<td> Jon and Robert </td>
<td> Nik and Paco </td>
<td> Jon and Robert </td>
</tr>
<tr>
<td> 24-09-2015 </td>
<td> Nik </td>
<td> Chris </td>
<td> Chris </td>
</tr>
<tr>
<td> 24-09-2015 </td>
<td> Michelle </td>
<td> Nik </td>
<td> Michelle </td>
</tr>
<tr>
<td> 24-09-2015 </td>
<td> Robert </td>
<td> Nik </td>
<td> Nik </td>
</tr>
<tr>
<td> 24-09-2015 </td>
<td> Jon and Michelle </td>
<td> Nik and Robert </td>
<td> Nik and Robert </td>
</tr>
<tr>
<td> 24-09-2015 </td>
<td> Nik </td>
<td> Paco </td>
<td> Nik </td>
</tr>
<tr>
<td> 24-09-2015 </td>
<td> Jon and Chris </td>
<td> The Bus (Ed) and Big Turbo (Brandon) </td>
<td> The Bus (Ed) and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 24-09-2015 </td>
<td> Jon and Chris </td>
<td> The Bus (Ed) and Big Turbo (Brandon) </td>
<td> The Bus (Ed) and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 23-09-2015 </td>
<td> Jon and Paco </td>
<td> Chris and Big Turbo (Brandon) </td>
<td> Chris and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 23-09-2015 </td>
<td> Jon and Paco </td>
<td> Chris and Big Turbo (Brandon) </td>
<td> Chris and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 23-09-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> Chris </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 23-09-2015 </td>
<td> Nik </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 23-09-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 23-09-2015 </td>
<td> Paco </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 22-09-2015 </td>
<td> Nik </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 22-09-2015 </td>
<td> Nik </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 22-09-2015 </td>
<td> Jack </td>
<td> David </td>
<td> Jack </td>
</tr>
<tr>
<td> 22-09-2015 </td>
<td> Jack </td>
<td> David </td>
<td> Jack </td>
</tr>
<tr>
<td> 22-09-2015 </td>
<td> Jack </td>
<td> David </td>
<td> Jack </td>
</tr>
<tr>
<td> 22-09-2015 </td>
<td> Jon and Nik </td>
<td> Robert and Paco </td>
<td> Jon and Nik </td>
</tr>
<tr>
<td> 22-09-2015 </td>
<td> Robert </td>
<td> Jon </td>
<td> Robert </td>
</tr>
<tr>
<td> 21-09-2015 </td>
<td> Jon and Nik </td>
<td> Big Turbo (Brandon) and Chris </td>
<td> Big Turbo (Brandon) and Chris </td>
</tr>
<tr>
<td> 21-09-2015 </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 21-09-2015 </td>
<td> Jack </td>
<td> Dan </td>
<td> Jack </td>
</tr>
<tr>
<td> 21-09-2015 </td>
<td> Jack </td>
<td> Dan </td>
<td> Jack </td>
</tr>
<tr>
<td> 21-09-2015 </td>
<td> Nik </td>
<td> Jack </td>
<td> Nik </td>
</tr>
<tr>
<td> 21-09-2015 </td>
<td> Nik </td>
<td> Jack </td>
<td> Jack </td>
</tr>
<tr>
<td> 21-09-2015 </td>
<td> Jon and Paco </td>
<td> Robert and Nik </td>
<td> Jon and Paco </td>
</tr>
<tr>
<td> 21-09-2015 </td>
<td> Nik </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 21-09-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Chris </td>
</tr>
<tr>
<td> 18-09-2015 </td>
<td> Paco and Big Turbo (Brandon) </td>
<td> Jon and Chris </td>
<td> Jon and Chris </td>
</tr>
<tr>
<td> 18-09-2015 </td>
<td> Jon and Chris </td>
<td> Jack and Big Turbo (Brandon) </td>
<td> Jon and Chris </td>
</tr>
<tr>
<td> 18-09-2015 </td>
<td> Nik </td>
<td> Robert </td>
<td> Nik </td>
</tr>
<tr>
<td> 18-09-2015 </td>
<td> Jon and Jack </td>
<td> Robert and Nik </td>
<td> Jon and Jack </td>
</tr>
<tr>
<td> 18-09-2015 </td>
<td> Jon </td>
<td> Jack </td>
<td> Jon </td>
</tr>
<tr>
<td> 18-09-2015 </td>
<td> Nik </td>
<td> Paco </td>
<td> Nik </td>
</tr>
<tr>
<td> 18-09-2015 </td>
<td> Nik and Michelle </td>
<td> Paco and Robert </td>
<td> Nik and Michelle </td>
</tr>
<tr>
<td> 18-09-2015 </td>
<td> Robert and Jon </td>
<td> Paco and Big Turbo (Brandon) </td>
<td> Robert and Jon </td>
</tr>
<tr>
<td> 18-09-2015 </td>
<td> Hammer (Margot) </td>
<td> Michelle </td>
<td> Hammer (Margot) </td>
</tr>
<tr>
<td> 18-09-2015 </td>
<td> Nik </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 18-09-2015 </td>
<td> Nik </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 18-09-2015 </td>
<td> Nik and Jon </td>
<td> Paco and Robert </td>
<td> Nik and Jon </td>
</tr>
<tr>
<td> 18-09-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 18-09-2015 </td>
<td> Nik </td>
<td> Paco </td>
<td> Nik </td>
</tr>
<tr>
<td> 17-09-2015 </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Jon </td>
</tr>
<tr>
<td> 17-09-2015 </td>
<td> Todd </td>
<td> Kyle </td>
<td> Todd </td>
</tr>
<tr>
<td> 17-09-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 17-09-2015 </td>
<td> Jon and Nik </td>
<td> Paco and Robert </td>
<td> Jon and Nik </td>
</tr>
<tr>
<td> 16-09-2015 </td>
<td> Jon </td>
<td> Nik </td>
<td> Jon </td>
</tr>
<tr>
<td> 16-09-2015 </td>
<td> Jon </td>
<td> Nik </td>
<td> Jon </td>
</tr>
<tr>
<td> 15-09-2015 </td>
<td> Sara and Ruth </td>
<td> Nik and Asahel </td>
<td> Nik and Asahel </td>
</tr>
<tr>
<td> 15-09-2015 </td>
<td> Jack </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 15-09-2015 </td>
<td> Jon and Paco </td>
<td> Nik and Robert </td>
<td> Jon and Paco </td>
</tr>
<tr>
<td> 15-09-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Chris </td>
</tr>
<tr>
<td> 15-09-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Chris </td>
</tr>
<tr>
<td> 14-09-2015 </td>
<td> Jon </td>
<td> Paco </td>
<td> Jon </td>
</tr>
<tr>
<td> 14-09-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Chris </td>
</tr>
<tr>
<td> 14-09-2015 </td>
<td> Nik and Chris </td>
<td> Jon and Robert </td>
<td> Nik and Chris </td>
</tr>
<tr>
<td> 13-09-2015 </td>
<td> Nik </td>
<td> Asahel </td>
<td> Nik </td>
</tr>
<tr>
<td> 13-09-2015 </td>
<td> Nik </td>
<td> Asahel </td>
<td> Nik </td>
</tr>
<tr>
<td> 11-09-2015 </td>
<td> Robert </td>
<td> Ei </td>
<td> Ei </td>
</tr>
<tr>
<td> 11-09-2015 </td>
<td> Nik and Robert </td>
<td> Jon and Jack </td>
<td> Jon and Jack </td>
</tr>
<tr>
<td> 11-09-2015 </td>
<td> Jon and Nik </td>
<td> Ei and Robert </td>
<td> Jon and Nik </td>
</tr>
<tr>
<td> 11-09-2015 </td>
<td> Jack and Nik </td>
<td> Ei and Robert </td>
<td> Ei and Robert </td>
</tr>
<tr>
<td> 11-09-2015 </td>
<td> Nik </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 11-09-2015 </td>
<td> Nik </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 11-09-2015 </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 11-09-2015 </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 11-09-2015 </td>
<td> Paco </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 10-09-2015 </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 10-09-2015 </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Jon </td>
</tr>
<tr>
<td> 10-09-2015 </td>
<td> Jon </td>
<td> Nik </td>
<td> Jon </td>
</tr>
<tr>
<td> 10-09-2015 </td>
<td> Jon </td>
<td> Nik </td>
<td> Jon </td>
</tr>
<tr>
<td> 10-09-2015 </td>
<td> Jon </td>
<td> Nik </td>
<td> Jon </td>
</tr>
<tr>
<td> 09-09-2015 </td>
<td> Jon </td>
<td> Paco </td>
<td> Jon </td>
</tr>
<tr>
<td> 09-09-2015 </td>
<td> Jon </td>
<td> Robert </td>
<td> Jon </td>
</tr>
<tr>
<td> 09-09-2015 </td>
<td> Jon </td>
<td> Robert </td>
<td> Jon </td>
</tr>
<tr>
<td> 08-09-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 08-09-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 08-09-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 08-09-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 07-09-2015 </td>
<td> Jon and Paco </td>
<td> Nik and Robert </td>
<td> Jon and Paco </td>
</tr>
<tr>
<td> 07-09-2015 </td>
<td> Nik </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 07-09-2015 </td>
<td> Nik and Paco </td>
<td> Jon and Robert </td>
<td> Jon and Robert </td>
</tr>
<tr>
<td> 07-09-2015 </td>
<td> Jon </td>
<td> Paco </td>
<td> Jon </td>
</tr>
<tr>
<td> 07-09-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 04-09-2015 </td>
<td> Jon and Nik </td>
<td> Big Turbo (Brandon) and Paco </td>
<td> Jon and Nik </td>
</tr>
<tr>
<td> 04-09-2015 </td>
<td> Jon and Nik </td>
<td> Big Turbo (Brandon) and Paco </td>
<td> Big Turbo (Brandon) and Paco </td>
</tr>
<tr>
<td> 04-09-2015 </td>
<td> Jon </td>
<td> Nik </td>
<td> Jon </td>
</tr>
<tr>
<td> 04-09-2015 </td>
<td> Jon </td>
<td> Nik </td>
<td> Jon </td>
</tr>
<tr>
<td> 04-09-2015 </td>
<td> Nik </td>
<td> Paco </td>
<td> Nik </td>
</tr>
<tr>
<td> 04-09-2015 </td>
<td> Jon </td>
<td> Nik </td>
<td> Jon </td>
</tr>
<tr>
<td> 03-09-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 03-09-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 02-09-2015 </td>
<td> Jon </td>
<td> Paco </td>
<td> Jon </td>
</tr>
<tr>
<td> 02-09-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 01-09-2015 </td>
<td> Paco </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 01-09-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 01-09-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 31-08-2015 </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 31-08-2015 </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 31-08-2015 </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 31-08-2015 </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 28-08-2015 </td>
<td> Jon </td>
<td> Julian </td>
<td> Jon </td>
</tr>
<tr>
<td> 28-08-2015 </td>
<td> Jon and Julian </td>
<td> Jack and Robert </td>
<td> Jon and Julian </td>
</tr>
<tr>
<td> 28-08-2015 </td>
<td> Jon </td>
<td> Jack </td>
<td> Jon </td>
</tr>
<tr>
<td> 28-08-2015 </td>
<td> Jon and Julian </td>
<td> Big Turbo (Brandon) and Robert </td>
<td> Jon and Julian </td>
</tr>
<tr>
<td> 28-08-2015 </td>
<td> Julian and Paco </td>
<td> Big Turbo (Brandon) and Robert </td>
<td> Big Turbo (Brandon) and Robert </td>
</tr>
<tr>
<td> 28-08-2015 </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 28-08-2015 </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 28-08-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 28-08-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 27-08-2015 </td>
<td> Chris and Jon </td>
<td> Julian and Big Turbo (Brandon) </td>
<td> Julian and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 27-08-2015 </td>
<td> Chris and Paco </td>
<td> Julian and Big Turbo (Brandon) </td>
<td> Julian and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 26-08-2015 </td>
<td> Jon and Julian </td>
<td> Robert and Chris </td>
<td> Jon and Julian </td>
</tr>
<tr>
<td> 26-08-2015 </td>
<td> Jon and Julian </td>
<td> Robert and Chris </td>
<td> Jon and Julian </td>
</tr>
<tr>
<td> 25-08-2015 </td>
<td> Big Turbo (Brandon) and Ei </td>
<td> Todd and Julian </td>
<td> Todd and Julian </td>
</tr>
<tr>
<td> 25-08-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> Todd </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 25-08-2015 </td>
<td> Todd </td>
<td> Julian </td>
<td> Julian </td>
</tr>
<tr>
<td> 25-08-2015 </td>
<td> Todd </td>
<td> Julian </td>
<td> Todd </td>
</tr>
<tr>
<td> 25-08-2015 </td>
<td> The Bus (Ed) </td>
<td> Ei </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 24-08-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Chris </td>
</tr>
<tr>
<td> 24-08-2015 </td>
<td> Jon </td>
<td> Robert </td>
<td> Jon </td>
</tr>
<tr>
<td> 24-08-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 24-08-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 19-08-2015 </td>
<td> Paul and Hammer (Margot) </td>
<td> Big Turbo (Brandon) and Julian </td>
<td> Paul and Hammer (Margot) </td>
</tr>
<tr>
<td> 19-08-2015 </td>
<td> Big Turbo (Brandon) and Paco </td>
<td> Robert and Julian </td>
<td> Big Turbo (Brandon) and Paco </td>
</tr>
<tr>
<td> 19-08-2015 </td>
<td> Robert and Hammer (Margot) </td>
<td> Paco and Big Turbo (Brandon) </td>
<td> Robert and Hammer (Margot) </td>
</tr>
<tr>
<td> 18-08-2015 </td>
<td> Julian </td>
<td> Paco </td>
<td> Julian </td>
</tr>
<tr>
<td> 17-08-2015 </td>
<td> Paco and Julian </td>
<td> Robert and Hammer (Margot) </td>
<td> Robert and Hammer (Margot) </td>
</tr>
<tr>
<td> 17-08-2015 </td>
<td> Paco and Julian </td>
<td> Big Turbo (Brandon) and Hammer (Margot) </td>
<td> Big Turbo (Brandon) and Hammer (Margot) </td>
</tr>
<tr>
<td> 16-08-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> Chris </td>
<td> Chris </td>
</tr>
<tr>
<td> 16-08-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> Chris </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 14-08-2015 </td>
<td> Jon and Ei </td>
<td> Chris and Julian </td>
<td> Jon and Ei </td>
</tr>
<tr>
<td> 14-08-2015 </td>
<td> Jon and Paco </td>
<td> Linnea and Big Turbo (Brandon) </td>
<td> Linnea and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 14-08-2015 </td>
<td> Jon and Ei </td>
<td> Big Turbo (Brandon) and Linnea </td>
<td> Jon and Ei </td>
</tr>
<tr>
<td> 14-08-2015 </td>
<td> Ei </td>
<td> Robert </td>
<td> Ei </td>
</tr>
<tr>
<td> 14-08-2015 </td>
<td> Jon and Julian </td>
<td> Chris and Robert </td>
<td> Jon and Julian </td>
</tr>
<tr>
<td> 14-08-2015 </td>
<td> Chris </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 14-08-2015 </td>
<td> Chris </td>
<td> Big Turbo (Brandon) </td>
<td> Chris </td>
</tr>
<tr>
<td> 14-08-2015 </td>
<td> The Bus (Ed) </td>
<td> Chris </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 14-08-2015 </td>
<td> Jon and Chris </td>
<td> Robert and Big Turbo (Brandon) </td>
<td> Robert and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 14-08-2015 </td>
<td> Jon and Chris </td>
<td> Robert and Big Turbo (Brandon) </td>
<td> Robert and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 13-08-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 13-08-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 13-08-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 13-08-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 12-08-2015 </td>
<td> Jon </td>
<td> The Bus (Ed) </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 12-08-2015 </td>
<td> Jon and Chris </td>
<td> The Bus (Ed) and Julian </td>
<td> Jon and Chris </td>
</tr>
<tr>
<td> 12-08-2015 </td>
<td> The Bus (Ed) and Robert </td>
<td> Jon and Big Turbo (Brandon) </td>
<td> Jon and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 12-08-2015 </td>
<td> The Bus (Ed) and Robert </td>
<td> Jon and Big Turbo (Brandon) </td>
<td> Jon and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 12-08-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Chris </td>
</tr>
<tr>
<td> 12-08-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Chris </td>
</tr>
<tr>
<td> 10-08-2015 </td>
<td> Chris and Big Turbo (Brandon) </td>
<td> The Bus (Ed) and Jon </td>
<td> The Bus (Ed) and Jon </td>
</tr>
<tr>
<td> 10-08-2015 </td>
<td> Chris and Big Turbo (Brandon) </td>
<td> The Bus (Ed) and Jon </td>
<td> The Bus (Ed) and Jon </td>
</tr>
<tr>
<td> 10-08-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 07-08-2015 </td>
<td> Jon and Julian </td>
<td> Big Turbo (Brandon) and Robert </td>
<td> Jon and Julian </td>
</tr>
<tr>
<td> 07-08-2015 </td>
<td> Jon and Julian </td>
<td> The Bus (Ed) and Paco </td>
<td> The Bus (Ed) and Paco </td>
</tr>
<tr>
<td> 06-08-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 06-08-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 06-08-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 06-08-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 06-08-2015 </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 06-08-2015 </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 05-08-2015 </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 05-08-2015 </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Jon </td>
</tr>
<tr>
<td> 05-08-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 05-08-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 04-08-2015 </td>
<td> Robert and The Bus (Ed) </td>
<td> Julian and Jon </td>
<td> Robert and The Bus (Ed) </td>
</tr>
<tr>
<td> 04-08-2015 </td>
<td> Robert and The Bus (Ed) </td>
<td> Julian and Jon </td>
<td> Robert and The Bus (Ed) </td>
</tr>
<tr>
<td> 04-08-2015 </td>
<td> Julian </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 04-08-2015 </td>
<td> Chris and The Bus (Ed) </td>
<td> Jon and Big Turbo (Brandon) </td>
<td> Chris and The Bus (Ed) </td>
</tr>
<tr>
<td> 04-08-2015 </td>
<td> Chris and The Bus (Ed) </td>
<td> Jon and Big Turbo (Brandon) </td>
<td> Chris and The Bus (Ed) </td>
</tr>
<tr>
<td> 03-08-2015 </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 03-08-2015 </td>
<td> Chris </td>
<td> The Bus (Ed) </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 03-08-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 03-08-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 31-07-2015 </td>
<td> Nik and Big Turbo (Brandon) </td>
<td> Chris and Jon </td>
<td> Chris and Jon </td>
</tr>
<tr>
<td> 31-07-2015 </td>
<td> Nik and The Bus (Ed) </td>
<td> Big Turbo (Brandon) and Robert </td>
<td> Nik and The Bus (Ed) </td>
</tr>
<tr>
<td> 31-07-2015 </td>
<td> Jon and Big Turbo (Brandon) </td>
<td> Chris and The Bus (Ed) </td>
<td> Chris and The Bus (Ed) </td>
</tr>
<tr>
<td> 31-07-2015 </td>
<td> Chris and Big Turbo (Brandon) </td>
<td> Jon and The Bus (Ed) </td>
<td> Chris and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 31-07-2015 </td>
<td> Big Turbo (Brandon) and Trevor </td>
<td> Jon and Chris </td>
<td> Jon and Chris </td>
</tr>
<tr>
<td> 31-07-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 31-07-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 31-07-2015 </td>
<td> Robert and Chris </td>
<td> Jon and Nik </td>
<td> Jon and Nik </td>
</tr>
<tr>
<td> 31-07-2015 </td>
<td> Chris and Nik </td>
<td> Robert and Jon </td>
<td> Chris and Nik </td>
</tr>
<tr>
<td> 31-07-2015 </td>
<td> Big Turbo (Brandon) and Robert </td>
<td> Jon and Nik </td>
<td> Jon and Nik </td>
</tr>
<tr>
<td> 30-07-2015 </td>
<td> Big Turbo (Brandon) and Robert </td>
<td> Jon and Nik </td>
<td> Big Turbo (Brandon) and Robert </td>
</tr>
<tr>
<td> 30-07-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Chris </td>
</tr>
<tr>
<td> 26-07-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Chris </td>
</tr>
<tr>
<td> 26-07-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 26-07-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 26-07-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Chris </td>
</tr>
<tr>
<td> 26-07-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 26-07-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 26-07-2015 </td>
<td> Chris </td>
<td> Robert </td>
<td> Chris </td>
</tr>
<tr>
<td> 26-07-2015 </td>
<td> Todd </td>
<td> Nik </td>
<td> Todd </td>
</tr>
<tr>
<td> 26-07-2015 </td>
<td> Jon </td>
<td> Nik </td>
<td> Jon </td>
</tr>
<tr>
<td> 26-07-2015 </td>
<td> Jon </td>
<td> Nik </td>
<td> Jon </td>
</tr>
<tr>
<td> 26-07-2015 </td>
<td> Jon </td>
<td> Nik </td>
<td> Jon </td>
</tr>
<tr>
<td> 26-07-2015 </td>
<td> Julian and Jon </td>
<td> Big Turbo (Brandon) and Robert </td>
<td> Big Turbo (Brandon) and Robert </td>
</tr>
<tr>
<td> 26-07-2015 </td>
<td> Julian and The Bus (Ed) </td>
<td> Big Turbo (Brandon) and Chris </td>
<td> Big Turbo (Brandon) and Chris </td>
</tr>
<tr>
<td> 26-07-2015 </td>
<td> Jon and The Bus (Ed) </td>
<td> Big Turbo (Brandon) and Chris </td>
<td> Big Turbo (Brandon) and Chris </td>
</tr>
<tr>
<td> 26-07-2015 </td>
<td> Chris and Big Turbo (Brandon) </td>
<td> The Bus (Ed) and Marco </td>
<td> Chris and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 26-07-2015 </td>
<td> The Bus (Ed) </td>
<td> Chris </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 26-07-2015 </td>
<td> The Bus (Ed) and Julian </td>
<td> Jon and Big Turbo (Brandon) </td>
<td> Jon and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 26-07-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 25-07-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Chris </td>
</tr>
<tr>
<td> 25-07-2015 </td>
<td> The Bus (Ed) and Marco </td>
<td> Jon and Big Turbo (Brandon) </td>
<td> Jon and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 25-07-2015 </td>
<td> The Bus (Ed) and Marco </td>
<td> Jon and Big Turbo (Brandon) </td>
<td> Jon and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 25-07-2015 </td>
<td> The Bus (Ed) and Marco </td>
<td> Jon and Big Turbo (Brandon) </td>
<td> Jon and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 25-07-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 25-07-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 25-07-2015 </td>
<td> The Bus (Ed) </td>
<td> Jon </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 25-07-2015 </td>
<td> Chris and Big Turbo (Brandon) </td>
<td> The Bus (Ed) and Todd </td>
<td> The Bus (Ed) and Todd </td>
</tr>
<tr>
<td> 24-07-2015 </td>
<td> Chris </td>
<td> Julian </td>
<td> Chris </td>
</tr>
<tr>
<td> 23-07-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Chris </td>
</tr>
<tr>
<td> 22-07-2015 </td>
<td> Jon </td>
<td> Julian </td>
<td> Jon </td>
</tr>
<tr>
<td> 21-07-2015 </td>
<td> Chris </td>
<td> Robert </td>
<td> Chris </td>
</tr>
<tr>
<td> 20-07-2015 </td>
<td> Jon </td>
<td> Julian </td>
<td> Julian </td>
</tr>
<tr>
<td> 19-07-2015 </td>
<td> Robert </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 19-07-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 19-07-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Chris </td>
</tr>
<tr>
<td> 19-07-2015 </td>
<td> Robert and Big Turbo (Brandon) </td>
<td> Jon and Julian </td>
<td> Jon and Julian </td>
</tr>
<tr>
<td> 18-07-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 18-07-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 17-07-2015 </td>
<td> Robert </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 17-07-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 17-07-2015 </td>
<td> Chris </td>
<td> Robert </td>
<td> Chris </td>
</tr>
<tr>
<td> 17-07-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Chris </td>
</tr>
<tr>
<td> 17-07-2015 </td>
<td> The Bus (Ed) </td>
<td> Chris </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 17-07-2015 </td>
<td> The Bus (Ed) </td>
<td> Chris </td>
<td> Chris </td>
</tr>
<tr>
<td> 17-07-2015 </td>
<td> The Bus (Ed) </td>
<td> Chris </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 16-07-2015 </td>
<td> Robert </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 16-07-2015 </td>
<td> Robert </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 16-07-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 15-07-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Chris </td>
</tr>
<tr>
<td> 15-07-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Chris </td>
</tr>
<tr>
<td> 14-07-2015 </td>
<td> Dan </td>
<td> Jack </td>
<td> Dan </td>
</tr>
<tr>
<td> 14-07-2015 </td>
<td> Jack and Jon </td>
<td> The Bus (Ed) and Robert </td>
<td> The Bus (Ed) and Robert </td>
</tr>
<tr>
<td> 13-07-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 13-07-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 10-07-2015 </td>
<td> Chuck </td>
<td> Chris </td>
<td> Chuck </td>
</tr>
<tr>
<td> 09-07-2015 </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 09-07-2015 </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Jon </td>
</tr>
<tr>
<td> 09-07-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Chris </td>
</tr>
<tr>
<td> 09-07-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Chris </td>
</tr>
<tr>
<td> 07-08-2015 </td>
<td> Kaiguy </td>
<td> Jack </td>
<td> Jack </td>
</tr>
<tr>
<td> 08-07-2015 </td>
<td> Kaiguy </td>
<td> Jack </td>
<td> Jack </td>
</tr>
<tr>
<td> 08-07-2015 </td>
<td> Kibro </td>
<td> Jack </td>
<td> Jack </td>
</tr>
<tr>
<td> 08-07-2015 </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Jon </td>
</tr>
<tr>
<td> 08-07-2015 </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 07-07-2015 </td>
<td> Chris </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 07-07-2015 </td>
<td> Chris </td>
<td> Big Turbo (Brandon) </td>
<td> Chris </td>
</tr>
<tr>
<td> 07-07-2015 </td>
<td> Kibro </td>
<td> Jack </td>
<td> Jack </td>
</tr>
<tr>
<td> 07-07-2015 </td>
<td> Kibro </td>
<td> Jack </td>
<td> Kibro </td>
</tr>
<tr>
<td> 06-07-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Chris </td>
</tr>
<tr>
<td> 06-07-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 02-07-2015 </td>
<td> Jon and Big Turbo (Brandon) </td>
<td> The Bus (Ed) and Chris </td>
<td> The Bus (Ed) and Chris </td>
</tr>
<tr>
<td> 02-07-2015 </td>
<td> Jon and Big Turbo (Brandon) </td>
<td> The Bus (Ed) and Chris </td>
<td> The Bus (Ed) and Chris </td>
</tr>
<tr>
<td> 02-07-2015 </td>
<td> Jon and Chris </td>
<td> The Bus (Ed) and Big Turbo (Brandon) </td>
<td> The Bus (Ed) and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 02-07-2015 </td>
<td> Jon and Paul </td>
<td> Robert and The Bus (Ed) </td>
<td> Robert and The Bus (Ed) </td>
</tr>
<tr>
<td> 02-07-2015 </td>
<td> Jon </td>
<td> Robert </td>
<td> Jon </td>
</tr>
<tr>
<td> 02-07-2015 </td>
<td> Jon </td>
<td> Robert </td>
<td> Jon </td>
</tr>
<tr>
<td> 01-07-2015 </td>
<td> Jon and The Bus (Ed) </td>
<td> Chris and Chuck </td>
<td> Jon and The Bus (Ed) </td>
</tr>
<tr>
<td> 01-07-2015 </td>
<td> Jon and Chris </td>
<td> Chuck and Robert </td>
<td> Jon and Chris </td>
</tr>
<tr>
<td> 01-07-2015 </td>
<td> Chuck and Chris </td>
<td> Jon and Robert </td>
<td> Chuck and Chris </td>
</tr>
<tr>
<td> 01-07-2015 </td>
<td> Big Turbo (Brandon) and Chris </td>
<td> The Bus (Ed) and Paul </td>
<td> Big Turbo (Brandon) and Chris </td>
</tr>
<tr>
<td> 01-07-2015 </td>
<td> Jon and Big Turbo (Brandon) </td>
<td> Nik and The Bus (Ed) </td>
<td> Jon and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 30-06-2015 </td>
<td> Jon </td>
<td> Nik </td>
<td> Jon </td>
</tr>
<tr>
<td> 30-06-2015 </td>
<td> Jon </td>
<td> Nik </td>
<td> Nik </td>
</tr>
<tr>
<td> 30-06-2015 </td>
<td> Jon </td>
<td> Nik </td>
<td> Jon </td>
</tr>
<tr>
<td> 30-06-2015 </td>
<td> Jon </td>
<td> Nik </td>
<td> Jon </td>
</tr>
<tr>
<td> 30-06-2015 </td>
<td> Jon </td>
<td> Nik </td>
<td> Jon </td>
</tr>
<tr>
<td> 30-06-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Chris </td>
</tr>
<tr>
<td> 30-06-2015 </td>
<td> Nik and Jon </td>
<td> Robert and Chuck </td>
<td> Nik and Jon </td>
</tr>
<tr>
<td> 29-06-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> Chris </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 29-06-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> Chris </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 26-06-2015 </td>
<td> Jon </td>
<td> Nik </td>
<td> Jon </td>
</tr>
<tr>
<td> 26-06-2015 </td>
<td> Nik </td>
<td> Robert </td>
<td> Nik </td>
</tr>
<tr>
<td> 26-06-2015 </td>
<td> Jon </td>
<td> Robert </td>
<td> Jon </td>
</tr>
<tr>
<td> 26-06-2015 </td>
<td> Jon </td>
<td> Robert </td>
<td> Jon </td>
</tr>
<tr>
<td> 25-06-2015 </td>
<td> Chris and Jon </td>
<td> Hammer (Margot) and Big Turbo (Brandon) </td>
<td> Hammer (Margot) and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 25-06-2015 </td>
<td> Chris and Jon </td>
<td> Hammer (Margot) and Big Turbo (Brandon) </td>
<td> Hammer (Margot) and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 24-06-2015 </td>
<td> Nik </td>
<td> Jack </td>
<td> Nik </td>
</tr>
<tr>
<td> 24-06-2015 </td>
<td> Jon and Big Turbo (Brandon) </td>
<td> The Bus (Ed) and Nik </td>
<td> Jon and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 24-06-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 24-06-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 23-06-2015 </td>
<td> Dan </td>
<td> Jack </td>
<td> Jack </td>
</tr>
<tr>
<td> 23-06-2015 </td>
<td> Dan </td>
<td> Jack </td>
<td> Jack </td>
</tr>
<tr>
<td> 23-06-2015 </td>
<td> Chris </td>
<td> Hammer (Margot) </td>
<td> Chris </td>
</tr>
<tr>
<td> 22-06-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Chris </td>
</tr>
<tr>
<td> 19-06-2015 </td>
<td> Hammer (Margot) </td>
<td> Nik </td>
<td> Hammer (Margot) </td>
</tr>
<tr>
<td> 19-06-2015 </td>
<td> The Bus (Ed) </td>
<td> Nik </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 19-06-2015 </td>
<td> Chuck </td>
<td> Sam </td>
<td> Chuck </td>
</tr>
<tr>
<td> 19-06-2015 </td>
<td> Big Turbo (Brandon) and Jon </td>
<td> Nik and The Bus (Ed) </td>
<td> Big Turbo (Brandon) and Jon </td>
</tr>
<tr>
<td> 19-06-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 19-06-2015 </td>
<td> Chuck and Jon </td>
<td> Big Turbo (Brandon) and Hammer (Margot) </td>
<td> Chuck and Jon </td>
</tr>
<tr>
<td> 18-06-2015 </td>
<td> Big Turbo (Brandon) and Hammer (Margot) </td>
<td> Nik and Jon </td>
<td> Big Turbo (Brandon) and Hammer (Margot) </td>
</tr>
<tr>
<td> 18-06-2015 </td>
<td> Big Turbo (Brandon) and Hammer (Margot) </td>
<td> Nik and Jon </td>
<td> Big Turbo (Brandon) and Hammer (Margot) </td>
</tr>
<tr>
<td> 18-06-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> The Bus (Ed) </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 18-06-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 18-06-2015 </td>
<td> Jon </td>
<td> The Bus (Ed) </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 18-06-2015 </td>
<td> Jon </td>
<td> The Bus (Ed) </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 17-06-2015 </td>
<td> Jon and Hammer (Margot) </td>
<td> Big Turbo (Brandon) and Robert </td>
<td> Jon and Hammer (Margot) </td>
</tr>
<tr>
<td> 17-06-2015 </td>
<td> Jon and Chuck </td>
<td> Big Turbo (Brandon) and Robert </td>
<td> Jon and Chuck </td>
</tr>
<tr>
<td> 17-06-2015 </td>
<td> The Bus (Ed) and Chris </td>
<td> Jon and Big Turbo (Brandon) </td>
<td> The Bus (Ed) and Chris </td>
</tr>
<tr>
<td> 17-06-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Chris </td>
</tr>
<tr>
<td> 17-06-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> The Bus (Ed) </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 17-06-2015 </td>
<td> Dan </td>
<td> Jack </td>
<td> Jack </td>
</tr>
<tr>
<td> 17-06-2015 </td>
<td> Dan </td>
<td> Jack </td>
<td> Dan </td>
</tr>
<tr>
<td> 17-06-2015 </td>
<td> Dan </td>
<td> Jack </td>
<td> Dan </td>
</tr>
<tr>
<td> 16-06-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> The Bus (Ed) </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 16-06-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> The Bus (Ed) </td>
<td> The Bus (Ed) </td>
</tr>
<tr>
<td> 16-06-2015 </td>
<td> Big Turbo (Brandon) and Nik </td>
<td> Jon and Chris </td>
<td> Big Turbo (Brandon) and Nik </td>
</tr>
<tr>
<td> 16-06-2015 </td>
<td> Big Turbo (Brandon) and Nik </td>
<td> Jon and Chris </td>
<td> Jon and Chris </td>
</tr>
<tr>
<td> 16-06-2015 </td>
<td> Dan </td>
<td> Jack </td>
<td> Dan </td>
</tr>
<tr>
<td> 16-06-2015 </td>
<td> Dan </td>
<td> Jack </td>
<td> Dan </td>
</tr>
<tr>
<td> 16-06-2015 </td>
<td> Dan </td>
<td> Jack </td>
<td> Dan </td>
</tr>
<tr>
<td> 15-06-2015 </td>
<td> Chuck and Jon </td>
<td> Big Turbo (Brandon) and Chris </td>
<td> Chuck and Jon </td>
</tr>
<tr>
<td> 12-06-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 12-06-2015 </td>
<td> Jon </td>
<td> Chuck </td>
<td> Chuck </td>
</tr>
<tr>
<td> 12-06-2015 </td>
<td> Jon and Chris </td>
<td> Nik and The Bus (Ed) </td>
<td> Nik and The Bus (Ed) </td>
</tr>
<tr>
<td> 11-06-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 11-06-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Chris </td>
</tr>
<tr>
<td> 10-06-2015 </td>
<td> Jon and Chris </td>
<td> Big Turbo (Brandon) and Hammer (Margot) </td>
<td> Jon and Chris </td>
</tr>
<tr>
<td> 10-06-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 09-06-2015 </td>
<td> Jack </td>
<td> Nik </td>
<td> Jack </td>
</tr>
<tr>
<td> 09-06-2015 </td>
<td> Jon </td>
<td> Nik </td>
<td> Jon </td>
</tr>
<tr>
<td> 09-06-2015 </td>
<td> Jon </td>
<td> Nik </td>
<td> Jon </td>
</tr>
<tr>
<td> 09-06-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 09-06-2015 </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Jon </td>
</tr>
<tr>
<td> 05-06-2015 </td>
<td> Chris and Jon </td>
<td> Big Turbo (Brandon) and Nik </td>
<td> Chris and Jon </td>
</tr>
<tr>
<td> 05-06-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 05-06-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Chris </td>
</tr>
<tr>
<td> 05-06-2015 </td>
<td> Big Turbo (Brandon) and Paul </td>
<td> Jon and Chris </td>
<td> Jon and Chris </td>
</tr>
<tr>
<td> 05-06-2015 </td>
<td> Big Turbo (Brandon) and Paul </td>
<td> Jon and Chris </td>
<td> Big Turbo (Brandon) and Paul </td>
</tr>
<tr>
<td> 05-06-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 05-06-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> Chris </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 04-06-2015 </td>
<td> Paul and Big Turbo (Brandon) </td>
<td> Jon and Chris </td>
<td> Paul and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 04-06-2015 </td>
<td> Paul and Big Turbo (Brandon) </td>
<td> Jon and Chris </td>
<td> Paul and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 04-06-2015 </td>
<td> Hammer (Margot) and Big Turbo (Brandon) </td>
<td> Jon and Chris </td>
<td> Jon and Chris </td>
</tr>
<tr>
<td> 04-06-2015 </td>
<td> Hammer (Margot) and Big Turbo (Brandon) </td>
<td> Jon and Chris </td>
<td> Jon and Chris </td>
</tr>
<tr>
<td> 04-06-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 03-06-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> Hammer (Margot) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 03-06-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 03-06-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Chris </td>
</tr>
<tr>
<td> 02-06-2015 </td>
<td> Jon and Chris </td>
<td> Big Turbo (Brandon) and Paul </td>
<td> Jon and Chris </td>
</tr>
<tr>
<td> 02-06-2015 </td>
<td> Paul and Big Turbo (Brandon) </td>
<td> Hammer (Margot) and Jon </td>
<td> Paul and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 02-06-2015 </td>
<td> Jack </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 02-06-2015 </td>
<td> Chris and Jon </td>
<td> Chuck and Todd </td>
<td> Chuck and Todd </td>
</tr>
<tr>
<td> 02-06-2015 </td>
<td> Jon and Big Turbo (Brandon) </td>
<td> The Bus (Ed) and Chris </td>
<td> Jon and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 02-06-2015 </td>
<td> Jon and Big Turbo (Brandon) </td>
<td> The Bus (Ed) and Chris </td>
<td> The Bus (Ed) and Chris </td>
</tr>
<tr>
<td> 29-05-2015 </td>
<td> Jon and Chris </td>
<td> Paul and Hammer (Margot) </td>
<td> Jon and Chris </td>
</tr>
<tr>
<td> 29-05-2015 </td>
<td> Dan and Jack </td>
<td> Paul and Jon </td>
<td> Paul and Jon </td>
</tr>
<tr>
<td> 29-05-2015 </td>
<td> Chris and Jack </td>
<td> Hammer (Margot) and Jon </td>
<td> Hammer (Margot) and Jon </td>
</tr>
<tr>
<td> 29-05-2015 </td>
<td> Chris and Frank </td>
<td> Hammer (Margot) and Jon </td>
<td> Hammer (Margot) and Jon </td>
</tr>
<tr>
<td> 29-05-2015 </td>
<td> Chris and Paul </td>
<td> Chuck and Jack </td>
<td> Chris and Paul </td>
</tr>
<tr>
<td> 29-05-2015 </td>
<td> Chuck and Chris </td>
<td> Jon and Hammer (Margot) </td>
<td> Chuck and Chris </td>
</tr>
<tr>
<td> 29-05-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Chris </td>
</tr>
<tr>
<td> 28-05-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 28-05-2015 </td>
<td> Hammer (Margot) and Chuck </td>
<td> Jon and Chris </td>
<td> Hammer (Margot) and Chuck </td>
</tr>
<tr>
<td> 28-05-2015 </td>
<td> Hammer (Margot) </td>
<td> Chuck </td>
<td> Chuck </td>
</tr>
<tr>
<td> 28-05-2015 </td>
<td> Jon </td>
<td> Chuck </td>
<td> Chuck </td>
</tr>
<tr>
<td> 27-05-2015 </td>
<td> Jon </td>
<td> Hammer (Margot) </td>
<td> Jon </td>
</tr>
<tr>
<td> 27-05-2015 </td>
<td> Jon </td>
<td> Hammer (Margot) </td>
<td> Jon </td>
</tr>
<tr>
<td> 26-05-2015 </td>
<td> Jon and Hammer (Margot) </td>
<td> Chris and Robert </td>
<td> Jon and Hammer (Margot) </td>
</tr>
<tr>
<td> 26-05-2015 </td>
<td> Jon and Robert </td>
<td> Hammer (Margot) and Chris </td>
<td> Hammer (Margot) and Chris </td>
</tr>
<tr>
<td> 26-05-2015 </td>
<td> Chris and Jon </td>
<td> Hammer (Margot) and Robert </td>
<td> Chris and Jon </td>
</tr>
<tr>
<td> 22-05-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> Paul </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 22-05-2015 </td>
<td> Big Turbo (Brandon) and Andy </td>
<td> Hammer (Margot) and Paul </td>
<td> Hammer (Margot) and Paul </td>
</tr>
<tr>
<td> 22-05-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> Hammer (Margot) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 22-05-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> Hammer (Margot) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 22-05-2015 </td>
<td> Chris </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 21-05-2015 </td>
<td> Chris </td>
<td> Paul </td>
<td> Chris </td>
</tr>
<tr>
<td> 21-05-2015 </td>
<td> Nik </td>
<td> Chris </td>
<td> Chris </td>
</tr>
<tr>
<td> 21-05-2015 </td>
<td> Nik </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 21-05-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Chris </td>
</tr>
<tr>
<td> 21-05-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Chris </td>
</tr>
<tr>
<td> 20-05-2015 </td>
<td> Chris </td>
<td> Hammer (Margot) </td>
<td> Hammer (Margot) </td>
</tr>
<tr>
<td> 20-05-2015 </td>
<td> Jon and Chris </td>
<td> Big Turbo (Brandon) and Hammer (Margot) </td>
<td> Big Turbo (Brandon) and Hammer (Margot) </td>
</tr>
<tr>
<td> 20-05-2015 </td>
<td> Jon and Chris </td>
<td> Big Turbo (Brandon) and Hammer (Margot) </td>
<td> Big Turbo (Brandon) and Hammer (Margot) </td>
</tr>
<tr>
<td> 19-05-2015 </td>
<td> Jon and Chris </td>
<td> Big Turbo (Brandon) and Nik </td>
<td> Big Turbo (Brandon) and Nik </td>
</tr>
<tr>
<td> 19-05-2015 </td>
<td> Jon and Chris </td>
<td> Big Turbo (Brandon) and Nik </td>
<td> Jon and Chris </td>
</tr>
<tr>
<td> 19-05-2015 </td>
<td> Jon and Chris </td>
<td> Big Turbo (Brandon) </td>
<td> Jon and Chris </td>
</tr>
<tr>
<td> 19-05-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Chris </td>
</tr>
<tr>
<td> 18-05-2015 </td>
<td> Jon </td>
<td> Robert </td>
<td> Jon </td>
</tr>
<tr>
<td> 18-05-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 18-05-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 15-05-2015 </td>
<td> Jon </td>
<td> Hammer (Margot) </td>
<td> Jon </td>
</tr>
<tr>
<td> 15-05-2015 </td>
<td> Jon and Paul </td>
<td> Big Turbo (Brandon) and Andy </td>
<td> Big Turbo (Brandon) and Andy </td>
</tr>
<tr>
<td> 15-05-2015 </td>
<td> Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 15-05-2015 </td>
<td> Jon and Chris </td>
<td> Paul and Hammer (Margot) </td>
<td> Jon and Chris </td>
</tr>
<tr>
<td> 15-05-2015 </td>
<td> Jon and Hammer (Margot) </td>
<td> Big Turbo (Brandon) and Paul </td>
<td> Jon and Hammer (Margot) </td>
</tr>
<tr>
<td> 15-05-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Chris </td>
</tr>
<tr>
<td> 14-05-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 14-05-2015 </td>
<td> The Bus (Ed) </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 14-05-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 14-05-2015 </td>
<td> Jon and Big Turbo (Brandon) </td>
<td> Chris and Hammer (Margot) </td>
<td> Jon and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 13-05-2015 </td>
<td> Jon and Chris </td>
<td> Hammer (Margot) and Big Turbo (Brandon) </td>
<td> Hammer (Margot) and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 13-05-2015 </td>
<td> Jon and Hammer (Margot) </td>
<td> Big Turbo (Brandon) and Chris </td>
<td> Big Turbo (Brandon) and Chris </td>
</tr>
<tr>
<td> 13-05-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 12-05-2015 </td>
<td> Chuck and Big Turbo (Brandon) </td>
<td> Chris and Jon </td>
<td> Chuck and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 12-05-2015 </td>
<td> Chuck and Big Turbo (Brandon) </td>
<td> Jon and Chris </td>
<td> Chuck and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 12-05-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Chris </td>
</tr>
<tr>
<td> 11-05-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 07-05-2015 </td>
<td> Big Turbo (Brandon) and Jon </td>
<td> Hammer (Margot) and Paul </td>
<td> Big Turbo (Brandon) and Jon </td>
</tr>
<tr>
<td> 07-05-2015 </td>
<td> Big Turbo (Brandon) and Robert </td>
<td> Paul and Jon </td>
<td> Paul and Jon </td>
</tr>
<tr>
<td> 07-05-2015 </td>
<td> Chuck and Hammer (Margot) </td>
<td> Big Turbo (Brandon) and Robert </td>
<td> Chuck and Hammer (Margot) </td>
</tr>
<tr>
<td> 07-05-2015 </td>
<td> Nik and Jon </td>
<td> Chuck and Bar </td>
<td> Chuck and Bar </td>
</tr>
<tr>
<td> 07-05-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> Hammer (Margot) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 07-05-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> Hammer (Margot) </td>
<td> Hammer (Margot) </td>
</tr>
<tr>
<td> 07-05-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Chris </td>
</tr>
<tr>
<td> 07-05-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 07-05-2015 </td>
<td> Jon and Chuck </td>
<td> Chris and Big Turbo (Brandon) </td>
<td> Chris and Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 07-05-2015 </td>
<td> Chris and Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 07-05-2015 </td>
<td> Chris and Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 07-05-2015 </td>
<td> Chris and Jon </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 07-05-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Chris </td>
</tr>
<tr>
<td> 06-05-2015 </td>
<td> Chris and Chuck </td>
<td> Big Turbo (Brandon) and Jon </td>
<td> Big Turbo (Brandon) and Jon </td>
</tr>
<tr>
<td> 06-05-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Jon </td>
</tr>
<tr>
<td> 06-05-2015 </td>
<td> Chris </td>
<td> Jon </td>
<td> Chris </td>
</tr>
<tr>
<td> 05-05-2015 </td>
<td> Big Turbo (Brandon) and Paul </td>
<td> Todd and Hammer (Margot) </td>
<td> Todd and Hammer (Margot) </td>
</tr>
<tr>
<td> 05-05-2015 </td>
<td> Big Turbo (Brandon) and Paul </td>
<td> Todd and Hammer (Margot) </td>
<td> Big Turbo (Brandon) and Paul </td>
</tr>
<tr>
<td> 05-05-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> Chris </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 05-05-2015 </td>
<td> Big Turbo (Brandon) </td>
<td> Chris </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 04-05-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 02-05-2015 </td>
<td> Marco and Paul </td>
<td> Jon and Hammer (Margot) </td>
<td> Jon and Hammer (Margot) </td>
</tr>
<tr>
<td> 02-05-2015 </td>
<td> Big Turbo (Brandon) and Jon </td>
<td> Paul and Marco </td>
<td> Big Turbo (Brandon) and Jon </td>
</tr>
<tr>
<td> 02-05-2015 </td>
<td> Robert and Big Turbo (Brandon) </td>
<td> Jon and Chris </td>
<td> Jon and Chris </td>
</tr>
<tr>
<td> 02-05-2015 </td>
<td> Big Turbo (Brandon) and Jon </td>
<td> Paul and Hammer (Margot) </td>
<td> Big Turbo (Brandon) and Jon </td>
</tr>
<tr>
<td> 30-04-2015 </td>
<td> Jon and Chris </td>
<td> Big Turbo (Brandon) </td>
<td> Jon and Chris </td>
</tr>
<tr>
<td> 30-04-2015 </td>
<td> Jon and Chris </td>
<td> Big Turbo (Brandon) </td>
<td> Big Turbo (Brandon) </td>
</tr>
<tr>
<td> 30-04-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 30-04-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Chris </td>
</tr>
<tr>
<td> 29-04-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 29-04-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Jon </td>
</tr>
<tr>
<td> 28-04-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Chris </td>
</tr>
<tr>
<td> 28-04-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Chris </td>
</tr>
<tr>
<td> 27-04-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Chris </td>
</tr>
<tr>
<td> 27-04-2015 </td>
<td> Jon </td>
<td> Chris </td>
<td> Chris </td>
</tr>
</table
