<h2> Singles and Doubles Restricted Rankings (≥10 games)</h2>
<h4> Last updated  2015-10-06 </h4>
<table cellpadding="10">
<tr><th>Rank</th>
<th>Name</th>
<th>Elo</th>
<th>Wins</th>
<th>Losses</th>
<th>Win Percentage</th>
</tr>
<tr>
<td> 1 </td>
<td> Jon </td>
<td> 1588 </td>
<td> 193 </td>
<td> 135 </td>
<td> 59 % </td>
</tr>
<tr>
<td> 2 </td>
<td> Brandon </td>
<td> 1562 </td>
<td> 120 </td>
<td> 75 </td>
<td> 62 % </td>
</tr>
<tr>
<td> 3 </td>
<td> Ed </td>
<td> 1430 </td>
<td> 50 </td>
<td> 34 </td>
<td> 60 % </td>
</tr>
<tr>
<td> 4 </td>
<td> Chuck </td>
<td> 1226 </td>
<td> 16 </td>
<td> 6 </td>
<td> 73 % </td>
</tr>
<tr>
<td> 5 </td>
<td> Margot </td>
<td> 1118 </td>
<td> 26 </td>
<td> 23 </td>
<td> 53 % </td>
</tr>
<tr>
<td> 6 </td>
<td> Todd </td>
<td> 1089 </td>
<td> 7 </td>
<td> 3 </td>
<td> 70 % </td>
</tr>
<tr>
<td> 7 </td>
<td> Chris </td>
<td> 1056 </td>
<td> 97 </td>
<td> 102 </td>
<td> 49 % </td>
</tr>
<tr>
<td> 8 </td>
<td> Jack </td>
<td> 1002 </td>
<td> 20 </td>
<td> 23 </td>
<td> 47 % </td>
</tr>
<tr>
<td> 9 </td>
<td> Dan </td>
<td> 953 </td>
<td> 6 </td>
<td> 6 </td>
<td> 50 % </td>
</tr>
<tr>
<td> 10 </td>
<td> Michelle </td>
<td> 924 </td>
<td> 7 </td>
<td> 7 </td>
<td> 50 % </td>
</tr>
<tr>
<td> 11 </td>
<td> Julian </td>
<td> 921 </td>
<td> 13 </td>
<td> 18 </td>
<td> 42 % </td>
</tr>
<tr>
<td> 12 </td>
<td> Paul </td>
<td> 900 </td>
<td> 10 </td>
<td> 15 </td>
<td> 40 % </td>
</tr>
<tr>
<td> 13 </td>
<td> Nik </td>
<td> 879 </td>
<td> 44 </td>
<td> 70 </td>
<td> 39 % </td>
</tr>
<tr>
<td> 14 </td>
<td> Robert </td>
<td> 628 </td>
<td> 27 </td>
<td> 64 </td>
<td> 30 % </td>
</tr>
<tr>
<td> 15 </td>
<td> Paco </td>
<td> 280 </td>
<td> 8 </td>
<td> 43 </td>
<td> 16 % </td>
</tr>
</table>



<h2> Singles Restricted Rankings (≥10 games)</h2>
<h4> Last updated  2015-10-06 </h4>
<table cellpadding="10">
<tr><th>Rank</th>
<th>Name</th>
<th>Elo</th>
<th>Wins</th>
<th>Losses</th>
<th>Win Percentage</th>
</tr>
<tr>
<td> 1 </td>
<td> Brandon </td>
<td> 1478 </td>
<td> 62 </td>
<td> 29 </td>
<td> 68 % </td>
</tr>
<tr>
<td> 2 </td>
<td> Jon </td>
<td> 1350 </td>
<td> 105 </td>
<td> 75 </td>
<td> 58 % </td>
</tr>
<tr>
<td> 3 </td>
<td> Ed </td>
<td> 1284 </td>
<td> 29 </td>
<td> 18 </td>
<td> 62 % </td>
</tr>
<tr>
<td> 4 </td>
<td> Chris </td>
<td> 1066 </td>
<td> 52 </td>
<td> 55 </td>
<td> 49 % </td>
</tr>
<tr>
<td> 5 </td>
<td> Jack </td>
<td> 1060 </td>
<td> 18 </td>
<td> 16 </td>
<td> 53 % </td>
</tr>
<tr>
<td> 6 </td>
<td> Dan </td>
<td> 992 </td>
<td> 6 </td>
<td> 5 </td>
<td> 55 % </td>
</tr>
<tr>
<td> 7 </td>
<td> Margot </td>
<td> 904 </td>
<td> 4 </td>
<td> 9 </td>
<td> 31 % </td>
</tr>
<tr>
<td> 8 </td>
<td> Nik </td>
<td> 782 </td>
<td> 17 </td>
<td> 42 </td>
<td> 29 % </td>
</tr>
<tr>
<td> 9 </td>
<td> Robert </td>
<td> 704 </td>
<td> 4 </td>
<td> 22 </td>
<td> 15 % </td>
</tr>
<tr>
<td> 10 </td>
<td> Paco </td>
<td> 638 </td>
<td> 0 </td>
<td> 16 </td>
<td> 0 % </td>
</tr>
</table>



<h2> Doubles Restricted Rankings (≥10 games)</h2>
<h4> Last updated  2015-10-06 </h4>
<table cellpadding="10">
<tr><th>Rank</th>
<th>Name</th>
<th>Elo</th>
<th>Wins</th>
<th>Losses</th>
<th>Win Percentage</th>
</tr>
<tr>
<td> 1 </td>
<td> Jon </td>
<td> 1448 </td>
<td> 88 </td>
<td> 60 </td>
<td> 59 % </td>
</tr>
<tr>
<td> 2 </td>
<td> Brandon </td>
<td> 1221 </td>
<td> 58 </td>
<td> 46 </td>
<td> 56 % </td>
</tr>
<tr>
<td> 3 </td>
<td> Ed </td>
<td> 1202 </td>
<td> 21 </td>
<td> 16 </td>
<td> 57 % </td>
</tr>
<tr>
<td> 4 </td>
<td> Margot </td>
<td> 1184 </td>
<td> 22 </td>
<td> 14 </td>
<td> 61 % </td>
</tr>
<tr>
<td> 5 </td>
<td> Chuck </td>
<td> 1118 </td>
<td> 11 </td>
<td> 6 </td>
<td> 65 % </td>
</tr>
<tr>
<td> 6 </td>
<td> Nik </td>
<td> 1004 </td>
<td> 27 </td>
<td> 28 </td>
<td> 49 % </td>
</tr>
<tr>
<td> 7 </td>
<td> Chris </td>
<td> 985 </td>
<td> 45 </td>
<td> 47 </td>
<td> 49 % </td>
</tr>
<tr>
<td> 8 </td>
<td> Michelle </td>
<td> 948 </td>
<td> 6 </td>
<td> 6 </td>
<td> 50 % </td>
</tr>
<tr>
<td> 9 </td>
<td> Julian </td>
<td> 943 </td>
<td> 10 </td>
<td> 13 </td>
<td> 43 % </td>
</tr>
<tr>
<td> 10 </td>
<td> Paul </td>
<td> 933 </td>
<td> 10 </td>
<td> 13 </td>
<td> 43 % </td>
</tr>
<tr>
<td> 11 </td>
<td> Robert </td>
<td> 724 </td>
<td> 23 </td>
<td> 42 </td>
<td> 35 % </td>
</tr>
<tr>
<td> 12 </td>
<td> Paco </td>
<td> 554 </td>
<td> 8 </td>
<td> 27 </td>
<td> 23 % </td>
</tr>
</table>



<h2>Nemesis Table</h2>
<table cellpadding="10">
<tr><th>Person</th>
<th>Nemesis (singles)</th>
<th>Nemesis (doubles)</th>
<th>Nemesis (combined)</th>
<th>Patsy (singles)</th>
<th>Patsy (doubles)</th>
<th>Patsy (combined)</th>
</tr>
<tr>
<td> Jon </td>
<td> Brandon -309 </td>
<td> Ed -87 </td>
<td> Brandon -292 </td>
<td> Nik 436 </td>
<td> Robert 182 </td>
<td> Nik 403 </td>
</tr>
<tr>
<td> Brandon </td>
<td> Ed -73 </td>
<td> Todd -29 </td>
<td> Chuck -22 </td>
<td> Jon 309 </td>
<td> Paco 71 </td>
<td> Jon 312 </td>
</tr>
<tr>
<td> Ed </td>
<td> None</td>
<td> Brandon -17 </td>
<td> None</td>
<td> Jon 92 </td>
<td> Jon 97 </td>
<td> Jon 184 </td>
</tr>
<tr>
<td> Chuck </td>
<td> None</td>
<td> Paul -13 </td>
<td> Paul -13 </td>
<td> Jon 54 </td>
<td> Jon 40 </td>
<td> Jon 89 </td>
</tr>
<tr>
<td> Margot </td>
<td> Jon -71 </td>
<td> Chuck -26 </td>
<td> Jon -82 </td>
<td> Michelle 28 </td>
<td> Robert 43 </td>
<td> Robert 43 </td>
</tr>
<tr>
<td> Chris </td>
<td> Brandon -108 </td>
<td> Ed -36 </td>
<td> Ed -104 </td>
<td> Jon 141 </td>
<td> Paco 48 </td>
<td> Jon 148 </td>
</tr>
<tr>
<td> Jack </td>
<td> Jon -122 </td>
<td> Jon -46 </td>
<td> Jon -134 </td>
<td> David 92 </td>
<td> Nik 20 </td>
<td> David 102 </td>
</tr>
<tr>
<td> Dan </td>
<td> Jack -7 </td>
<td> Jon -13 </td>
<td> Jack -21 </td>
<td> None</td>
<td> None</td>
<td> None</td>
</tr>
<tr>
<td> Michelle </td>
<td> Margot -28 </td>
<td> Jon -51 </td>
<td> Jon -60 </td>
<td> Nik 19 </td>
<td> Paco 26 </td>
<td> Paco 18 </td>
</tr>
<tr>
<td> Julian </td>
<td> Chris -22 </td>
<td> Ed -43 </td>
<td> Ed -48 </td>
<td> Paco 25 </td>
<td> Chris 46 </td>
<td> Paco 26 </td>
</tr>
<tr>
<td> Paul </td>
<td> Chris -25 </td>
<td> Jon -64 </td>
<td> Jon -66 </td>
<td> None</td>
<td> Jack 25 </td>
<td> Jack 25 </td>
</tr>
<tr>
<td> Nik </td>
<td> Jon -436 </td>
<td> Jon -79 </td>
<td> Jon -393 </td>
<td> Paco 161 </td>
<td> Robert 71 </td>
<td> Paco 176 </td>
</tr>
<tr>
<td> Robert </td>
<td> Jon -192 </td>
<td> Jon -235 </td>
<td> Jon -329 </td>
<td> Paco 51 </td>
<td> Paco 56 </td>
<td> Paco 106 </td>
</tr>
<tr>
<td> Paco </td>
<td> Nik -161 </td>
<td> Jon -121 </td>
<td> Jon -202 </td>
<td> None</td>
<td> Julian 8 </td>
<td> None</td>
</tr>
</table>



<h2>Singles and Doubles Rankings </h2>
<table cellpadding="10">
<tr><th>Rank</th>
<th>Name</th>
<th>Elo</th>
<th>Wins</th>
<th>Losses</th>
<th>Win Percentage</th>
</tr>
<tr>
<td> 1 </td>
<td> Jon </td>
<td> 1588 </td>
<td> 193 </td>
<td> 135 </td>
<td> 59 % </td>
</tr>
<tr>
<td> 2 </td>
<td> Brandon </td>
<td> 1562 </td>
<td> 120 </td>
<td> 75 </td>
<td> 62 % </td>
</tr>
<tr>
<td> 3 </td>
<td> Ed </td>
<td> 1430 </td>
<td> 50 </td>
<td> 34 </td>
<td> 60 % </td>
</tr>
<tr>
<td> 4 </td>
<td> Chuck </td>
<td> 1226 </td>
<td> 16 </td>
<td> 6 </td>
<td> 73 % </td>
</tr>
<tr>
<td> 5 </td>
<td> Margot </td>
<td> 1118 </td>
<td> 26 </td>
<td> 23 </td>
<td> 53 % </td>
</tr>
<tr>
<td> 6 </td>
<td> Todd </td>
<td> 1089 </td>
<td> 7 </td>
<td> 3 </td>
<td> 70 % </td>
</tr>
<tr>
<td> 7 </td>
<td> Chris </td>
<td> 1056 </td>
<td> 97 </td>
<td> 102 </td>
<td> 49 % </td>
</tr>
<tr>
<td> 8 </td>
<td> Ei </td>
<td> 1032 </td>
<td> 5 </td>
<td> 3 </td>
<td> 62 % </td>
</tr>
<tr>
<td> 9 </td>
<td> Bar </td>
<td> 1026 </td>
<td> 1 </td>
<td> 0 </td>
<td> 100 % </td>
</tr>
<tr>
<td> 10 </td>
<td> Jack </td>
<td> 1002 </td>
<td> 20 </td>
<td> 23 </td>
<td> 47 % </td>
</tr>
<tr>
<td> 11 </td>
<td> Linnea </td>
<td> 994 </td>
<td> 1 </td>
<td> 1 </td>
<td> 50 % </td>
</tr>
<tr>
<td> 12 </td>
<td> Andy </td>
<td> 988 </td>
<td> 1 </td>
<td> 1 </td>
<td> 50 % </td>
</tr>
<tr>
<td> 13 </td>
<td> Sam </td>
<td> 981 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 14 </td>
<td> BV </td>
<td> 977 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 15 </td>
<td> Kyle </td>
<td> 976 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 16 </td>
<td> Frank </td>
<td> 974 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 17 </td>
<td> Trevor </td>
<td> 972 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 18 </td>
<td> Ruth </td>
<td> 970 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 19 </td>
<td> Sara </td>
<td> 970 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 20 </td>
<td> Brendan </td>
<td> 967 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 21 </td>
<td> Asahel </td>
<td> 962 </td>
<td> 1 </td>
<td> 2 </td>
<td> 33 % </td>
</tr>
<tr>
<td> 22 </td>
<td> Dan </td>
<td> 953 </td>
<td> 6 </td>
<td> 6 </td>
<td> 50 % </td>
</tr>
<tr>
<td> 23 </td>
<td> Kaiguy </td>
<td> 946 </td>
<td> 0 </td>
<td> 2 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 24 </td>
<td> Kibro </td>
<td> 939 </td>
<td> 1 </td>
<td> 3 </td>
<td> 25 % </td>
</tr>
<tr>
<td> 25 </td>
<td> Michelle </td>
<td> 924 </td>
<td> 7 </td>
<td> 7 </td>
<td> 50 % </td>
</tr>
<tr>
<td> 26 </td>
<td> Julian </td>
<td> 921 </td>
<td> 13 </td>
<td> 18 </td>
<td> 42 % </td>
</tr>
<tr>
<td> 27 </td>
<td> Paul </td>
<td> 900 </td>
<td> 10 </td>
<td> 15 </td>
<td> 40 % </td>
</tr>
<tr>
<td> 28 </td>
<td> David </td>
<td> 897 </td>
<td> 0 </td>
<td> 4 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 29 </td>
<td> Nik </td>
<td> 879 </td>
<td> 44 </td>
<td> 70 </td>
<td> 39 % </td>
</tr>
<tr>
<td> 30 </td>
<td> Marco </td>
<td> 857 </td>
<td> 0 </td>
<td> 6 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 31 </td>
<td> Robert </td>
<td> 628 </td>
<td> 27 </td>
<td> 64 </td>
<td> 30 % </td>
</tr>
<tr>
<td> 32 </td>
<td> Paco </td>
<td> 280 </td>
<td> 8 </td>
<td> 43 </td>
<td> 16 % </td>
</tr>
</table>



<h2>Singles Rankings </h2>
<table cellpadding="10">
<tr><th>Rank</th>
<th>Name</th>
<th>Elo</th>
<th>Wins</th>
<th>Losses</th>
<th>Win Percentage</th>
</tr>
<tr>
<td> 1 </td>
<td> Brandon </td>
<td> 1478 </td>
<td> 62 </td>
<td> 29 </td>
<td> 68 % </td>
</tr>
<tr>
<td> 2 </td>
<td> Jon </td>
<td> 1350 </td>
<td> 105 </td>
<td> 75 </td>
<td> 58 % </td>
</tr>
<tr>
<td> 3 </td>
<td> Ed </td>
<td> 1284 </td>
<td> 29 </td>
<td> 18 </td>
<td> 62 % </td>
</tr>
<tr>
<td> 4 </td>
<td> Chuck </td>
<td> 1122 </td>
<td> 5 </td>
<td> 0 </td>
<td> 100 % </td>
</tr>
<tr>
<td> 5 </td>
<td> Chris </td>
<td> 1066 </td>
<td> 52 </td>
<td> 55 </td>
<td> 49 % </td>
</tr>
<tr>
<td> 6 </td>
<td> Jack </td>
<td> 1060 </td>
<td> 18 </td>
<td> 16 </td>
<td> 53 % </td>
</tr>
<tr>
<td> 7 </td>
<td> Todd </td>
<td> 1022 </td>
<td> 3 </td>
<td> 2 </td>
<td> 60 % </td>
</tr>
<tr>
<td> 8 </td>
<td> Ei </td>
<td> 1016 </td>
<td> 2 </td>
<td> 1 </td>
<td> 67 % </td>
</tr>
<tr>
<td> 9 </td>
<td> Dan </td>
<td> 992 </td>
<td> 6 </td>
<td> 5 </td>
<td> 55 % </td>
</tr>
<tr>
<td> 10 </td>
<td> Michelle </td>
<td> 990 </td>
<td> 1 </td>
<td> 1 </td>
<td> 50 % </td>
</tr>
<tr>
<td> 11 </td>
<td> Sam </td>
<td> 977 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 12 </td>
<td> Kyle </td>
<td> 974 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 13 </td>
<td> Julian </td>
<td> 972 </td>
<td> 3 </td>
<td> 5 </td>
<td> 38 % </td>
</tr>
<tr>
<td> 14 </td>
<td> Brendan </td>
<td> 967 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 15 </td>
<td> Paul </td>
<td> 955 </td>
<td> 0 </td>
<td> 2 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 16 </td>
<td> Kaiguy </td>
<td> 950 </td>
<td> 0 </td>
<td> 2 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 17 </td>
<td> Kibro </td>
<td> 946 </td>
<td> 1 </td>
<td> 3 </td>
<td> 25 % </td>
</tr>
<tr>
<td> 18 </td>
<td> Asahel </td>
<td> 933 </td>
<td> 0 </td>
<td> 2 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 19 </td>
<td> David </td>
<td> 907 </td>
<td> 0 </td>
<td> 4 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 20 </td>
<td> Margot </td>
<td> 904 </td>
<td> 4 </td>
<td> 9 </td>
<td> 31 % </td>
</tr>
<tr>
<td> 21 </td>
<td> Nik </td>
<td> 782 </td>
<td> 17 </td>
<td> 42 </td>
<td> 29 % </td>
</tr>
<tr>
<td> 22 </td>
<td> Robert </td>
<td> 704 </td>
<td> 4 </td>
<td> 22 </td>
<td> 15 % </td>
</tr>
<tr>
<td> 23 </td>
<td> Paco </td>
<td> 638 </td>
<td> 0 </td>
<td> 16 </td>
<td> 0 % </td>
</tr>
</table>



<h2>Doubles Rankings </h2>
<table cellpadding="10">
<tr><th>Rank</th>
<th>Name</th>
<th>Elo</th>
<th>Wins</th>
<th>Losses</th>
<th>Win Percentage</th>
</tr>
<tr>
<td> 1 </td>
<td> Jon </td>
<td> 1448 </td>
<td> 88 </td>
<td> 60 </td>
<td> 59 % </td>
</tr>
<tr>
<td> 2 </td>
<td> Brandon </td>
<td> 1221 </td>
<td> 58 </td>
<td> 46 </td>
<td> 56 % </td>
</tr>
<tr>
<td> 3 </td>
<td> Ed </td>
<td> 1202 </td>
<td> 21 </td>
<td> 16 </td>
<td> 57 % </td>
</tr>
<tr>
<td> 4 </td>
<td> Margot </td>
<td> 1184 </td>
<td> 22 </td>
<td> 14 </td>
<td> 61 % </td>
</tr>
<tr>
<td> 5 </td>
<td> Chuck </td>
<td> 1118 </td>
<td> 11 </td>
<td> 6 </td>
<td> 65 % </td>
</tr>
<tr>
<td> 6 </td>
<td> Todd </td>
<td> 1080 </td>
<td> 4 </td>
<td> 1 </td>
<td> 80 % </td>
</tr>
<tr>
<td> 7 </td>
<td> Bar </td>
<td> 1027 </td>
<td> 1 </td>
<td> 0 </td>
<td> 100 % </td>
</tr>
<tr>
<td> 8 </td>
<td> Asahel </td>
<td> 1026 </td>
<td> 1 </td>
<td> 0 </td>
<td> 100 % </td>
</tr>
<tr>
<td> 9 </td>
<td> Ei </td>
<td> 1024 </td>
<td> 3 </td>
<td> 2 </td>
<td> 60 % </td>
</tr>
<tr>
<td> 10 </td>
<td> Nik </td>
<td> 1004 </td>
<td> 27 </td>
<td> 28 </td>
<td> 49 % </td>
</tr>
<tr>
<td> 11 </td>
<td> Linnea </td>
<td> 998 </td>
<td> 1 </td>
<td> 1 </td>
<td> 50 % </td>
</tr>
<tr>
<td> 12 </td>
<td> Andy </td>
<td> 992 </td>
<td> 1 </td>
<td> 1 </td>
<td> 50 % </td>
</tr>
<tr>
<td> 13 </td>
<td> Chris </td>
<td> 985 </td>
<td> 45 </td>
<td> 47 </td>
<td> 49 % </td>
</tr>
<tr>
<td> 14 </td>
<td> BV </td>
<td> 978 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 15 </td>
<td> Frank </td>
<td> 976 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 16 </td>
<td> Dan </td>
<td> 975 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 17 </td>
<td> Trevor </td>
<td> 973 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 18 </td>
<td> Ruth </td>
<td> 973 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 19 </td>
<td> Sara </td>
<td> 973 </td>
<td> 0 </td>
<td> 1 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 20 </td>
<td> Michelle </td>
<td> 948 </td>
<td> 6 </td>
<td> 6 </td>
<td> 50 % </td>
</tr>
<tr>
<td> 21 </td>
<td> Julian </td>
<td> 943 </td>
<td> 10 </td>
<td> 13 </td>
<td> 43 % </td>
</tr>
<tr>
<td> 22 </td>
<td> Paul </td>
<td> 933 </td>
<td> 10 </td>
<td> 13 </td>
<td> 43 % </td>
</tr>
<tr>
<td> 23 </td>
<td> Jack </td>
<td> 867 </td>
<td> 2 </td>
<td> 7 </td>
<td> 22 % </td>
</tr>
<tr>
<td> 24 </td>
<td> Marco </td>
<td> 862 </td>
<td> 0 </td>
<td> 6 </td>
<td> 0 % </td>
</tr>
<tr>
<td> 25 </td>
<td> Robert </td>
<td> 724 </td>
<td> 23 </td>
<td> 42 </td>
<td> 35 % </td>
</tr>
<tr>
<td> 26 </td>
<td> Paco </td>
<td> 554 </td>
<td> 8 </td>
<td> 27 </td>
<td> 23 % </td>
</tr>
</table>



