<link rel="stylesheet" type="text/css" href="./stylesheet.css">

<h1>DTG Foosball Rankings</h1>

<h2>About</h2>
<p><a href="https://en.wikipedia.org/wiki/Elo_rating_system">Elo</a> is a well-used ranking system.
It was designed by Arpad Elo for chess rankings, but is now used in many sports, including the foosball
association Bonzani USA.</p>
<p>This ranking system is based on Bonzani's <a href="http://www.bonziniusa.com/foosball/tournament/TournamentRankingSystem.html">adaptation</a>
for foosball. The elo for a team is the mean of the players' scores. </p>

