th {
    text-align: center;
}

td {
    padding: 10
}
h1, h2, h3, h4 {
    text-align: center;
}

p {
    text-align: left;
    margin: 1% 20%;
}

table{
    border-collapse: collapse;
    border: 1px solid black;
    border-spacing: 30px;
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
}
table td{
    border: 1px solid black;
}